@import "reset.less";
.about{
	padding: 50px 0;
	h1{
		.fontC(#50575e, 700, 18px, @p_b);
		margin: 0;
		width: 50%;
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	.row{
		.bx();
		background: #fff;
		border-radius: 4px;
	}
	.text{
		padding: 40px 60px;
	}
	p{
		.fontC(#50575e, 400, 14px, @p_r);
		margin: 0;
		padding-bottom: 10px;
	}	
	strong{
		display: inline-block;
		.fontC(#b8bfd3, 700, 14px, @p_b);
	}
}

.slogan{
	padding: 50px 0;
	background: url(../img/jpg/green_fon.jpg) 0 0 repeat;
	text-align: center;
	h2{
		padding: 0;
		margin: 0 auto;
		width: 520px;
		.fontC(#fff, 700, 18px, @p_b);
	}
}

.advice{
	padding: 50px 0;
	.row{
		padding-bottom: 50px;
	}
	.col-in{
		background: #fff;
		border-radius: 4px;
		.bx();
		padding: 20px;
	}
	img{
		display: block;
		margin: 15px auto;
	}
	p{
		.fontC(#50575e, 400, 14px, @p_r);
		margin: 0;
	}
	h4{
		.fontC(#b8bfd3, 700, 18px, @p_b);
		margin: 0;
		padding-bottom: 10px;
	}
	h3{
		text-align: center;
		width: 70%;
		.fontC(@black, 700, 18px, @p_b);
		margin: 0 auto;
	}
	.visit{
		padding-top: 10px;
		display: block;
		text-decoration: underline;
		cursor: pointer;
		.fontC(@green, 700, 16px, @p_b);
	}
}


@media(max-width: 992px){
	.about h1{
		width: 100%;
	}
	.slogan h2{
		width: 90%;
	}
	.about img{
		width: 100%;
		height: auto;
		display: block;
	}
	.advice .col-in{
		margin-bottom: 20px;
		text-align: center;
	}
	.about, .advice, .slogan{
		margin-bottom: 30px;
	}
	.advice .row{
		padding-bottom: 0;
	}
	.about .text{
		padding: 30px 20px;
	}
}






