@import "reset.less";
.blog{
	padding-top: 50px;
	padding-bottom: 80px;
	h4{
		.fontC(#50575e, 700, 22px, @p_b);
		padding-bottom: 20px;
		margin: 0;
	}
	.col-md-6{
		.pic{
			height: 340px;
		}
		.col-in{
			height: 520px;
		}
	}
	.pic{
		.wh(100%, 220px);
		overflow: hidden;
	}
	img{
		display: block;
		.wh(100%, 100%);
	}
	.col-in{
		position: relative;
		background: #fff;
		height: 400px;
		overflow: hidden;
		margin-bottom: 30px;
	}
	.text{
		padding: 30px;
		.bx(); 
	}
	h1{
		.fontC(@black, 400, 18px, @p_sb);
		margin: 0;
		padding-bottom: 20px;
	}
	p{
		.fontC(#50575e, 400, 14px, @p_r);
		padding-bottom: 20px;
		margin: 0;
	}
	span{
		.fontC(@green, 400, 14px, @p_r);
	}
	.share{
		position: absolute;
		display: block;
		top: 20px;
		right: 20px;
		z-index: 10;
		.wh(24px, 26px);
		background: url(../img/png/icons.png) 0 -474px no-repeat;
	}
	.link{
		position: absolute;
		top: 0;
		left: 0;
		.wh(100%, 100%);
		display: block;
	}
	h6{
		text-align: center;
		a{
			display: inline-block;
			.fontC(#fff, 700, 14px, @p_b);
			padding: 15px 40px;
			border-radius: 3px;
			background: #c4cbcf;
		}
	}
}
/*______email______*/
.email{
	padding: 50px 0;
	background: url(../img/jpg/bg_email.jpg) 0 0 repeat;
	h3{
		.fontC(#fff, 700, 18px, @p_b);
		padding: 0;
		margin: 0;
	}
	input{
		display: block;
		float: left;
		border: none;
		outline: none;
		padding: 10px 30px;
		margin-right: 22px;
		border-radius: 50px;
		background: #6a7274;
		.fontC(#fff, 400, 14px, @p_r);
	}
	button{
		border-radius: 50px;
		outline: none;
		border: none;
		.fontC(#fff, 400, 14px, @p_r);
		display: block;
		padding: 10px 20px;
		float: right;
		background: #ecc011;
		.transition(.2s);
		&:hover{
			background: #dfb50d;
		}
	}
}

/*______state______*/
.state{
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	h3{
		text-transform: uppercase;
		.fontC(#50575e, 700, 18px, @p_b);
		margin: 0;
		padding-bottom: 30px;
	}
	.col-in{
		margin: 0 auto;
		.wh(570px, auto);
		background: #fff;
		border: 2px dotted #e8e8e8;
		padding: 30px 50px;
		.bx();
	}
	h4{
		margin: 0;
		padding-bottom: 10px;
		.fontC(#b8bfd3, 700, 16px, @p_sb);
	}
	p{
		padding: 0 0 10px 0;margin: 0;
		.fontC(#50575e, 400, 14px, @p_r);
	}
}

/*___________MEDIAS___________*/
@media(max-width: 992px){
	.blog .col-md-6 .pic, .blog .col-md-6 .col-in, .blog .col-in, .blog img, .blog .pic{
		height: auto;
	}
	.email{
		margin-bottom: 30px;
	}
	.email h3, .state h3{
		padding-bottom: 20px;
	}
	.blog .text{
		padding: 15px 20px;
	}
	.email input, .email button{
		width: 100%;
		margin-bottom: 10px;
		float: none;
		display: block;
		border-radius: 5px;
	}
	.state .col-in{
		width: 95%;
		padding: 20px 30px;
	}
}






















