@import "reset.less";
/*___________MIXINS___________*/ 
/*.h2(){
	.fontC(@black, 400, 16px, @g_m);
	margin: 0;
	padding-bottom: 10px;
}*/
/*___________MIXINS___________*/ 

.review{
	padding: 60px 0 80px;
	.row{
		background: #fff;
		margin: 0;
		padding: 50px 25px;
		.bx();
		border-radius: 3px;
	}
	.col-md-6{
		.bx();
		height: 200px;
		overflow: hidden;
		&:nth-child(odd){
			border-right: 2px dotted #e8e8e8;
		}
	}
	.col-in{
		border: 1px solid #e4e7e9;
		padding: 20px;
		.bx();
		overflow: hidden;
	}
	.pic{
		float: left;
		.wh(100px, 100px);
		border-radius: 50%;
		overflow: hidden;
	}
	img{
		display: block;
		.wh(100%, 100%);
	}
	.text{
		width: 70%;
		float: right;
		max-height: 150px;
	}
	h2{
		.fontC(#50575e, 700, 22px, @p_b);
		margin: 0;
		padding-bottom: 25px;
	}
	h4{
		.fontC(#555555, 400, 18px, @p_sb);
		padding-bottom: 10px;
		margin: 0;
	}
	p{
		.fontC(#8c8c8c, 400, 14px, @p_r);
		line-height: 24px;
	}
	form{
		.wh(100%, auto);
	}
	.form{
		height: auto;
	}
	input, textarea{
		display: block;
		resize: none;
		.wh(100%, auto);
		.fontC(#555555, 400, 14px, @p_r);
		padding: 10px 20px;
		.bx();
		margin-bottom: 15px;
		outline: none;
		border: 1px solid #e4e7e9;
		border-radius: 3px;
	}
	textarea{
		height: 200px;
	}
	button{
		display: inline-block;
		float: left;
		padding: 15px 35px;
		border-radius: 2px;
		.fontC(#fff, 700, 14px, @p_b);
		border: none;
		border-radius: 3px;
		outline:none;
		background: #50575e;
		.transition(.2s);
		&:hover{
			background: #42484f;
		}
	}
}



/*------------MEDIAS------------*/
@media(max-width: 992px){
	.review .col-md-6:nth-child(odd){
		border-right: none;
	}
	.review .col-md-6{
		height: auto;
		margin-bottom: 20px;
	}
}

@media(max-width: 768px){
	.review .pic{
		float: none;
		margin: 0 auto 20px;
	}
	.review .text{
		width: 100%;
		float: none;
		text-align: center;
	}
	.review .col-in{
		border: none;
		padding: 0;
	}
	.review .row{
		padding: 40px 0;
	}
}























