@import "reset.less";
.bg{
	position: absolute;
	top: 0;
	left: 0;
	.wh(100%, 100%);
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
}
/*------------MIXINS--------*/
	.kub(){
		position: absolute;
		background: @green;
		display: block;
		top: 0;
		right: -25px;
		.wh(23px, 19px);
		border-radius: 2px;
		.fontC(#fff, 400, 12px, @p_r);
		text-align: center;
		&:after{
			.after();
			position: absolute;
			top: 8px;
			left: -4px;
			.wh(5px, 8px);
			background: url(../img/png/icons.png) 0 -187px no-repeat;
		}
	}

	/*prod*/
	.pic(){
		height: 260px;
		img{
			display: block;
			.wh(100%, 100%);
		}
	}
	.h2(){
		.fontC(@black, 400, 16px, @g_m);
		margin: 0;
		padding-bottom: 10px;
	}
	.h3(){
		display: block;
		text-align: center;
		.fontC(@green, 400, 12px, @g_r);
		text-transform: uppercase;
		padding-bottom: 15px;
		float: none;
		margin: 0;
	}
	.stock(){
		position: absolute;
		top: 13px;
    	left: -42px;
		width:150px;
		padding: 10px 0;
		background: #dd3b56;
		.fontC(#fff, 400, 12px, @g_r);
		transform: rotate(-45deg);
	}
	.more(){
		display: inline-block;
		.fontC(#fff, 700, 14px, @p_b);
		padding: 15px 30px;
		border-radius: 3px;
		background: @red;
		.transition(.2s);
	}
	.share(){
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;
		overflow: hidden;
		a{
			float: left;
			margin-right: 5px;
			.wh(24px, 20px);
			display: block;
		}
		.like{
			background: url(../img/png/icons.png) 0 -213px no-repeat;
		}
		.like-active{
			background: url(../img/png/icons.png) 0 -238px no-repeat;
		}
		.sign{
			.wh(18px, 18px);
			background: url(../img/png/icons.png) 0 -265px no-repeat;
		}
		.sign-active{
			background: url(../img/png/icons.png) 0 -295px no-repeat;
		}
	}
	.title(){
		.fontC(@con_color, 700, 22px, @p_b);
		padding-bottom: 10px;
		margin: 0;
	}
/*__________________________*/

/*------------MIXINS--------*/
header{
	border-bottom: 1px solid #d7dadb;
	background: #fff;
	padding-bottom: 15px!important;
	.container{
		position: relative;
		&:after{
			.after();
			font-size: 0;
			position: relative;
			width: 100%;
			clear: both;
			content: ".";
		}
	}
	.menu-open{
		float: left;
		position: relative;
		.bx();
		margin-right: 40px;
		padding: 40px;
		display: block;
		border-right: 1px solid #f0f2f7;
		&:after{
			.after();
			position: absolute;
			top: 30px;
			left: 30px;
			.wh(20px, 14px);
			background: url(../img/png/icons.png) 0 0 no-repeat;
		}
	}
	.hit, .news{
		padding: 25px 0;
		.bx();
		.fontC(#50575e, 400, 14px, @p_r);
		margin-right: 40px;
		float: left;
	}
	.news{
		margin-right: 35px;
	}
	.droid{
		display: block;
		float: left;
		padding-top:12px;
		opacity: .8;
		img{
			display: block;
			.wh(181px, 48px);
		}
	}
	.afm{
		float: right;
		opacity: .8;
		padding-top:12px;
		margin-right: 80px;
		img{
			display: block;
			.wh(157px, 53px);
		}
	}
	.active_page{
		opacity: 1;
	}
	/*float_right;*/
	.search, .busket, .like, .user{
		display: block;
		position: relative;
		float: right;
		margin-top: 20px;
		i{
			.kub();
		}
	}
	.user{
		.wh(18px, 18px);
		background: url(../img/png/icons.png) 0 -145px no-repeat;
		padding-right: 25px;
		&:after{
			.wh(9px, 7px);
			.after();
			position: absolute;
			right: -10px;
			top: 6px;
			background: url(../img/png/icons.png) -2px -173px no-repeat;
		}
	}
	.like{
		.wh(21px, 18px);
		background: url(../img/png/icons.png) 0 -118px no-repeat;
		margin-right: 43px;
	}
	.busket{
		.wh(21px, 18px);
		background: url(../img/png/icons.png) 0 -91px no-repeat;
		margin-right: 43px;
	}
	.search{
		cursor: pointer;
		.wh(21px, 18px);
		margin-right: 30px;
		background: url(../img/png/icons.png) 0 -61px no-repeat;
	}
	/*CHECKBOX*/
	.check_menu{
		display: none;
	}
	.check_menu + label {
		display: block;
		.wh(60px, 20px);
		background:#eaeaea;
		border-radius: 50px;
		position: absolute;
		top: 20px;
		left: 50%;
		cursor: pointer;
		overflow: hidden;
		margin-left: 20px;
		.transition(.3s);
		&:before{
			.after();
			.wh(35px, 20px);
			border-radius: 50px;
			background: @red;
			float: left;
			.transition(.3s);
		}
	}
	.check_menu:checked + label:before{
		float: right;
		background: @green;
	}
	/*CHECKBOX_END*/
	.search-form{
		position: absolute;
		bottom:-55px;
		overflow: hidden;
		left: 0;
		.wh(100%, 40px);
		background: #ddd;
		border-bottom: 1px  solid #ddd;
		display: none;
		button{
			width: 20%;
			display: block;
			outline: none;
			border: none;
			height: 100%;
			.fontC(#fff, 400, 14px, @p_r);
			background: @green;
			float: right;
		}
		input{
			display: block;
			float: left;
			.wh(70%, 100%);
			background: transparent;
			outline: none;
			border: none;
			padding: 10px 20px;
			.fontC(@black, 400, 14px, @p_r);
			.bx();
		}
	}
}


/*------------content-----------*/
@con_color: #596067; 
.content{
	margin-bottom: 70px;
	.header{
		padding: 70px 0 20px;
		&:after{
			.after();
		}
	}
	ul{
		margin: 0;
		padding: 0;
	}
	h3, h4{
		float: left;
		margin: 0;
		.fontC(@con_color, 700, 22px, @p_b);
		margin-right: 40px;
	}
	h4{
		.fontC(@con_color, 100, 22px, @p_t);
	}
	.compare{
		float: right;
		position: relative;
		display: block;
		padding-right: 30px;
		.fontC(@con_color, 400, 14px, @p_r);
		i{
			.kub();
			right: 0;
		}
	}
	.active{
		ul{
			display: block;
		}
		h6:after{
			transform: rotate(0);
		}
	}
}

.sidebar{
	.category{
		background: #fff;
		border-radius: 3px;
		overflow: hidden;
		h6{
			margin: 0;
			.fontC(@black, 700, 16px, @p_b);
			padding: 20px;
			cursor: pointer;
			border-bottom: 1px solid #f0f2f7;
			position: relative;
			&:after{
				display: block;
				content: "";
				transform:rotate(-90deg);
				.wh(11px, 6px);
				.transition(.3s);
				background: url(../img/png/icons.png) 0 -199px no-repeat;
				position: absolute;
				top: 25px;
				right: 20px;
			}
		}
	}
	.cat-in{
		background: #f9fafb;
		display: none;
		a{
			display: block;
			text-transform: uppercase;
			padding: 20px;
			border-bottom: 1px solid #dfe4ee;
			background-image: none;
			.fontC(#a1a8bd, 700, 11px, @p_b);
		}
	}
}

.product{
	.else{
		.wh(150px, auto);
		text-align: center;
		padding: 20px 0;
		margin: 0 auto;
		display: block;
		background: #c4cbcf;
		clear: both;
		border-radius: 3px;
		.fontC(#fff, 700, 14px, @p_b);
		.transition(.3s);
		&:hover{
			text-decoration:none;
			background: #50575e;
		}
	}
	.pic{
		.pic();
	}
	.col-in{
		position: relative;
		text-align: center;
		border-radius: 4px;
		.bx();
		cursor: pointer;
		.transition(.3s);
		border: 1px solid transparent;
		height: 465px;
		overflow: hidden;
		margin-bottom: 40px;
		&:hover{
			box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.37);
			border: 1px solid #d5d5d5;
		}
	}
	.text{
		padding: 30px 15px 35px;
		overflow: hidden;
		background: #fff;
	}
	.col-md-8 .text{
		padding-top: 40px;
	}
	.link{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		.wh(100%, 100%);
	}
	h2{
		.h2();
	}
	h3{
		.h3();
	}
	.havent{
		color: @red;
	}
	.price{
		.fontC(#343e5c, 700, 14px, @g_m);
		display: block;
		float: none;
		text-align: center;
		padding-bottom: 15px;
	}
	.more{
		.more();
	}
	/*bigone*/
	.col-md-8{
		background: transparent;
		.col-in{
			padding: 0;
		}
		.pic{
			height: 330px;
			padding: 0;
			position: relative;
		}
		h2, h3{
			text-align: left;
			display: block;
		}
		.more{
			background: #50575e;
		}
		.price{
			display: inline-block;
			position: absolute;
			bottom: 10px;
			left: 10px;
			background: @red;
			.fontC(#fff, 400, 14px, @g_m);
			padding: 9px 17px;
			border-radius: 3px;
		}
	}
	.left{
		width: 65%;
		float: left;
	}
	.right{
		width: 30%;
		float: right;
	}
	/*share*/
	.share{
		.share();
	}
	.stock, .descont{
		.stock();
	}
	.descont{
		background: #f5c125;
	}
}

/*----------SLIDER-popular------------*/
.slide-popular{
	.item{
		display: block;
		position: relative;
		overflow: hidden;
		text-align: center;
		padding-bottom: 20px;
		background: #fff;
	}
	.pic{
		.pic();
	}
	h2{
		.h2();
		text-align: center;
	}
	h3{
		.h3();
	}
	.stock, .descont{
		.stock();
	}
	.descont{
		background: #f5c125;
	}
	.price{
		overflow: hidden;
		display: block;
		padding-left: 30%;
		padding-bottom: 20px;
		i{
			display: block;
			float: left;
			margin-right: 15px;
			text-align: left;
			.fontC(@black, 700, 12px, @p_b);
			&:first-child{
				color:#b8bfd3;
			}
		}
	}
	.button{
		.more();
	}
	.share{
		.share();
	}
	.link{
		position: absolute;
		top: 0;
		left: 0;
		.wh(100%, 100%);
		display: block;
	}

	/*slide_nav*/
	.owl-nav{
		position: absolute;
		top: -30px;
		overflow: hidden;
		right: 0;
		.owl-next, .owl-prev{
			display: inline-block;
			float: left;
			font-size: 0;
			.wh(10px, 20px);
			background: url(../img/png/icons.png) -36px -321px no-repeat;
		}
		.owl-prev{
			margin-right: 20px;
			background: url(../img/png/icons.png) 0 -321px no-repeat;
		}
	}
}
.p-title{
	.title();
}

/*----------news------------*/
.news-section{
	padding-top: 60px;
	.title{
		.title();
	}
	.pic{
		.wh(100%, 250px);
		img{
			display: block;
			.wh(100%, 100%);
		}
	}
	.text{
		padding: 30px;
		background: #fff;
		.bx();
		.transition(.2s);
		border-bottom: 2px solid transparent;
	}
	h2{
		.fontC(@black, 700, 18px, @p_b);
		padding-bottom: 10px;
		margin: 0;
	}
	p{
		.fontC(#50575e, 400, 14px, @p_r);
		padding-bottom: 20px;
	}
	span{
		display: block;
		.fontC(@red, 400, 14px, @p_r);
	}
	.col-md-4{
		position: relative;
	}
	.col-md-4:hover>.text{
		border-bottom: 2px solid @red;
	}
	.link{
		position: absolute;
		top: 0;
		left: 0;
		.wh(100%, 100%);
		display: block;
	}
}

/*----------action------------*/
.action{
	padding-top: 60px;
	.title{
		.title();
	}
	.row{
		background: #fff;
		border-radius: 5px;
		margin: 0;
		padding: 40px 20px;
	}
	.col-md-6{
		margin-bottom: 40px;
	}
	.col-in{
		.bx();
		padding: 0 10%;
	}
	a{
		display: block;
		.fontC(#b8bfd3, 700, 16px, @p_b);
		padding-bottom: 10px;
		margin: 0;
		&:hover{
			color: @con_color;
			text-decoration: none;
		}
	}
	p{
		margin: 0;
		padding: 0;
		.fontC(@con_color, 400, 14px, @p_r);
		line-height: 20px;
	}
}	

footer{
	margin-top: 100px!important;
	padding: 30px 0!important;
	display: block;
	background: #202326;
	a{
		display: block;
		.fontC(#fff, 400, 14px, @p_r);
		padding-bottom: 10px;
		margin: 0;

	}
	a.logo-footer{
		display: block;
		padding-bottom: 30px;
		&:hover{
			
		}
	}
	h3{
		padding-bottom: 10px;
		.fontC(#a3a9ad, 700, 14px, @p_b);
	}
	.f, .i, .g, .t{
		display: block;
		float: left;
		.wh(40px, 40px);
		margin-left: 10px;
		background: url(../img/png/icons.png) 0 -353px no-repeat;
	}
	.i{
		background: url(../img/png/icons.png) -150px -353px no-repeat;
	}
	.g{
		background: url(../img/png/icons.png) -100px -353px no-repeat;
	}
	.t{
		background: url(../img/png/icons.png) -50px -353px no-repeat;
	}

	form{
		position: relative;
		.wh(280px, 30px);
		overflow: hidden;
		margin-bottom: 30px;
		border-radius: 50px;
		input{
			display: block;
			width: 59%;
			background: #3c4247;
			display: block;
			height: 100%;
			.fontC(#fff, 400, 14px, @p_r);
			border: none;
			outline: none;
			padding: 0 20px;
			.bx();
		}
		button{
			display: block;
			.wh(130px, 100%);
			border-radius: 50px;
			position: absolute;
			top: 0;
			right: 0;
			.fontC(#fff, 400, 14px, @p_r);
			background: @green;
			border: none;
			outline: none;
			padding: 5px 20px;
			&:hover{
				background: darken(@green, 4%);
			}
		}
	}
}

/*----------banner------------*/
.banner{
	margin: 50px auto 80px;
	position: relative;
	img{
		display: block;
		.wh(100%, auto);
	}
	.item{
		display: block;
	}
	/*slide*/
	.owl-dots{
		overflow: hidden;
		position: absolute;
		bottom: 25px;
		left: 50%;
		margin-left: -100px;
		z-index: 9999;
		width: 200px;
	}
	.owl-dot{
		.wh(12px, 12px);
		.bx();
		border: 2px solid #808080;
		background: transparent;
		border-radius: 50%;
		float: left;
		margin: 0 3px;
	}
	.active{
		border: 2px solid #fff;
		background: #fff;
	}
	.owl-prev, .owl-next{
		position: absolute;
		top: 40%;
		.transition(.3s);
		z-index: 9999;
		font-size: 0;
		.wh(51px, 51px);
		opacity: 0.7;
		background: url(../img/png/icons.png) 0 -410px no-repeat;
		&:hover{
			opacity:1;
		}
	}
	.owl-prev{
		left: 5%;
	}
	.owl-next{
		transform: rotate(180deg);
		right: 5%;
	}
	/*call*/
	.call{
		position: absolute;
		bottom: 4%;
		right: 4%;
		z-index: 99999;
		background: #fff;
		border-radius: 3px;
		text-align: center;
		padding: 20px 40px;
		span, i{
			display: block;
			.fontC(@con_color, 400, 18px, @p_r);
		}
		i{
			.fontC(@con_color, 700, 18px, @p_b);
		}
		.call-popup{
			display: inline-block;
			padding: 15px 30px;
			margin-top: 10px;
			border-radius: 3px;
			background: @green;
			.transition(.2s);
			cursor: pointer;
			color: #fff;
			&:hover{
				background: darken(@green, 3%);
			}
		}
	}
}



/*===============MEDIAS===============*/
@media(max-width: 1200px){
	body{
		.hit, .news{
			display: none;
		}
		.check_menu + label{
			position: static;
			float: left;
			margin-top: 30px;
			margin-left: 15px;
		}
		header .afm{
			float: left;
			margin-left: 20px;
			margin-right: 0;
			margin-top: 0;
		}
		header .menu-open{
			margin-right: 0;
		}
		.banner img{
			min-height: 250px;
		}
	}/*body*/
}


@media(max-width: 768px){
	body .container{
		padding: 0 15px;
	}
	.banner .call{
		display: none;
	}
	.content .header{
		padding: 20px 0;
	}
	.content h3, .content h4{
		float: none;
		margin-right: 0;
	}
	body .banner, .slide-popular{
		margin-bottom: 30px;
	}
	.product .col-md-8 .pic, .product .col-in, .product .pic img, .product .pic, .news-section .pic, .news-section .pic img{
		height: auto;
	}
	.news-section .col-md-4{
		margin-bottom: 20px;
	}
	.product .left, .product .right{
		width: 100%;
		float: none;
	}
	.product .col-md-8 h2, .product .col-md-8 h3{
		text-align: center;
	}
	.product .col-md-8 .text{
		padding-top: 20px;
	}
	.slide-popular .owl-nav{
		left: 0;
	}
	.p-title{
		padding-bottom: 40px;
	}
	.action .row{
		padding: 20px 15px;
	}
	.action .col-in{
		padding: 0;
	}

	/*navigation*/
	header{
		padding-bottom: 0!important;
	}
	header .afm img, header .droid img{
		width: 90px;
	}
	header .afm, header .droid{
		padding-top: 0;
	}
	body header .afm{
		float: right;
	}
	body .check_menu+label{
		margin-top: 17px;
		width: 40px;
		margin-left: 25px;
		height: 20px;
		&:before{
			.wh(20px, 20px);
			border-radius: 50%;
		}
	}
	header .busket, header .like, header .search, header .user{
		margin-top: 0;
	}
	.right-nav{
		clear: both;
		width: 100%;
		overflow: hidden;
		position: absolute;
		bottom: -42px;
		left: 0;
		padding: 10px 20px;
		.bx();
		background: #fff;
		height: 40px;
	}
	header .search{	
		float: left;
	}
	header .search-form{
		bottom: -42px;
	}
	header .active-nav{
		font-weight:700;
		border-bottom: 1px solid @green!important;
		color: @green!important;
	}
	.mp{
		float: left;
		display: block;
		.wh(22px, 16px,);
		margin-right: 15px;
		background: url(../img/png/icons.png) 0 0 no-repeat;
	}
	.navigate{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
		text-align: center;
		overflow: hidden;
		.wh(100%, 100%);
		padding: 60px 0;
		.bx();
		background: rgba(0,0,0,0.85);
	}
	body .hit, body .news{
		float: none;
		display: block;
		border-bottom: 1px solid #eee;
		margin: 0!important;
		color: #fff;
		padding: 10px 0;
	}
}









