@import "reset.less";

body{
	.product .more{
		background: @green;
	}
}
.green-section{
	padding: 50px;
	background: url(../img/jpg/green_fon.jpg) 0 0 repeat;
	.p-title{
		color: #fff;
	}
}

@media(max-width: 768px){
	.green-section{
		padding: 30px 0;
		margin-bottom: 30px;
	}
}