@import "reset.less";

.baster-page{
	padding: 50px 0 80px;
	h4{
		.fontC(#50575e, 700, 22px, @p_b);
		padding-bottom: 20px;
		margin: 0;
	}
	.count{
		background: #fff;
		padding: 30px 60px;
	}
	ul{
		padding: 20px 0;
		border-bottom: 1px solid #f7f7f7;
		overflow: hidden;
	}
	li, h5{
		float: left;
		overflow: hidden;
		width: 25%;
	}
	.header{
		border-bottom: 1px solid #efefef;
		li{
			.fontC(@black, 400, 18px, @p_r);
		}
	}
	h3{
		.fontC(#797b82, 400, 18px, @g_sb);
		margin: 0;
	}
	i{
		margin: 0;
		display: block;
		float: left;
		.fontC(@green, 400, 18px, @p_r);
	}
	span, input{
		display: block;
		outline: none;
		border: 1px solid #e3e6e9;
		.wh(30px, 30px);
		margin-right: 10px;
		cursor: pointer;
		text-align: center;
		float: left;
		background: #fff;
		border-radius: 3px;
		.fontC(#b8c6d0, 700, 16px, @p_b);
		padding-top: 5px;
	}
	input{
		width: 50px;
		.fontC(#686e71, 400, 16px, @p_r);
	}
	.delete{
		float: right;
		.wh(20px, 20px);
		.fontC(#a1a7ab, 400, 10px, @p_r);
		text-align: center;
		display: block;
		background: #d3d8dc;
		padding: 2px 0 0;
		float: right;
		margin-right: 10px;
		border-radius: 50%;
		cursor: pointer;
	}
	h5{
		float: right;
		width: auto;
		margin: 0;
		margin-top: -5px;
		font-size: 22px;
		i{
			float: none;
			display: inline-block;
			.fontC(@green, 700, 22px, @p_b);
		}
	}
	.footer{
		overflow: hidden;
		border-bottom: 1px solid #eee;
		margin-bottom: 30px;
	}
	.check{
		display: none;
	}
	.check + label{
		display: block;
		float: left;
		.fontC(@black, 700, 15px, @p_b);
		position: relative;
		padding-right: 15px;
		&:after{
			display: block;
			content: "";
			margin-right: 30px;
			.wh(20px, 20px);
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			background: url(../img/png/icons.png) -27px -658px no-repeat;
		}
	}
	.check:checked + label:after{
		background: url(../img/png/icons.png) 0 -658px no-repeat;
	}
	.form{
		margin: 0 auto;
		width: 670px;
		overflow: hidden;
		padding-bottom: 10px;
		input{
			float: left;
			width: 230px;
			border: 1px solid #e8e8e8;
			padding: 10px 20px;
			margin-right: 30px;
			height: 40px;
			border-radius: 3px;
			.bx();
			text-align: left;
			.fontC(#1c1e23, 400, 14px, @p_r);
		}
	}
	button{
		padding: 10px 40px;
		background: @green;
		display: inline-block;
		border: none;
		border-radius: 3px;
		outline: none;
		height: 40px;
		float: left;
		.fontC(#fff, 700, 16px, @p_b);
	}
}



/*___________MEDIAS___________*/ 
@media(max-width: 768px){
	.baster-page li, .baster-page h5{
		width: 100%;
		float: none;
		display: block;
	}
	.baster-page ul{
		margin: 0;
	}
	.baster-page h3, .baster-page i{
		padding: 7px 0;
	}
	.baster-page .form, .baster-page .form input, .baster-page .form button{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.baster-page .count{
		padding: 30px 20px;
	}
	.baster-page .count{
		margin-bottom: 20px;
	}
}



























