@import "reset.less";
/*------------MIXINS--------*/
	.kub(){
		position: absolute;
		background: @green;
		display: block;
		top: 0;
		right: -25px;
		.wh(23px, 19px);
		border-radius: 2px;
		.fontC(#fff, 400, 12px, @p_r);
		text-align: center;
		&:after{
			.after();
			position: absolute;
			top: 8px;
			left: -4px;
			.wh(5px, 8px);
			background: url(../img/png/icons.png) 0 -187px no-repeat;
		}
	}

	/*prod*/
	.pic(){
		height: 260px;
		img{
			display: block;
			.wh(100%, 100%);
		}
	}
	.h2(){
		.fontC(@black, 400, 16px, @g_m);
		margin: 0;
		padding-bottom: 10px;
	}
	.h3(){
		display: block;
		text-align: center;
		.fontC(@green, 400, 12px, @g_r);
		text-transform: uppercase;
		padding-bottom: 15px;
		float: none;
		margin: 0;
	}
	.stock(){
		position: absolute;
		top: 13px;
    	left: -42px;
		width:150px;
		padding: 10px 0;
		background: #dd3b56;
		.fontC(#fff, 400, 12px, @g_r);
		transform: rotate(-45deg);
	}
	.more(){
		display: inline-block;
		.fontC(#fff, 700, 14px, @p_b);
		padding: 15px 30px;
		border-radius: 3px;
		background: @green;
		.transition(.2s);
	}
	.share(){
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;
		overflow: hidden;
		a{
			float: left;
			margin-right: 5px;
			.wh(24px, 20px);
			display: block;
		}
		.like{
			background: url(../img/png/icons.png) 0 -213px no-repeat;
		}
		.like-active{
			background: url(../img/png/icons.png) 0 -238px no-repeat;
		}
		.sign{
			.wh(18px, 18px);
			background: url(../img/png/icons.png) 0 -265px no-repeat;
		}
		.sign-active{
			background: url(../img/png/icons.png) 0 -295px no-repeat;
		}
	}
	.title(){
		.fontC(@con_color, 700, 22px, @p_b);
		padding-bottom: 10px;
		margin: 0;
	}
/*__________________________*/


.breadcrums{
	padding-top: 30px;
	padding-bottom: 30px;
	&:after{
		.after();
	}
	.left{
		overflow: hidden;
		display: inline-block;
		a{
			float: left;
			.fontC(#9b9b9b, 400, 14p, @p_r);
			padding-right: 10px;
			display: block;
		}
		.active{
			color: @green;
		}
	}
	.compare{
		float: right;
		position: relative;
		display: block;
		padding-right: 30px;
		.fontC(#50575e, 400, 14px, @p_r);
		i{
			.kub();
			right: 0;
		}
		span{
			display: inline-block;
			vertical-align: middle;
			margin: 0 3px;
			.wh(17px, 17px);
			background: url(../img/png/icons.png) 0 -266px no-repeat;
		}
	}
}

/*_________SLIDER___tumb____________*/ 
.col-lg-8{
	&:after{
		.after();
	}
}
.col-lg-4{
	margin-top: 80px;
}
.tumb{
	width: 90px;
	position: relative;
	overflow: hidden;
	float: left;
	height: 480px;
	padding: 25px 0;
	.bx();
	.item{
		display: block;
		border: 1px solid transparent;
		.wh(100%, 110px);
		cursor: pointer;
		margin: 5px 0;
	}
	.item-parent{
		.transition(.3s);
	}
	.active{
		border: 1px solid @green;
	}
	img{
		display: block;
		.wh(100%, 100%);
	}
	.bottom, .top{
		position: absolute;
		background: #f6f8f9;
		left: 0;
		.wh(100%, 20px);
		cursor: pointer;
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 7px;
			left: 50%;
			margin-left: -5px;
			.wh(10px, 6px);
			background: url(../img/png/icons.png) 0 -502px no-repeat;
		}
	}
	.bottom{
		bottom: 0;
		border-radius: 0 0 2px 2px;
	}
	.top{
		border-radius: 2px 2px 0 0;
		top: 0;
		&:after{
			transform:rotate(180deg);
		}
	}
}
/*large*/
.large{
	float: right;
	.bx();
	border: 1px solid #e3e6e9;
	position: relative;
	width: 670px;
	img{
		display: block;
		.wh(100%, 480px);
	}
	.item{
		display: none;
	}
	.active{
		display: block;
	}
	.links{
		position: absolute;
		top: 3%;
		right: 3%;
		overflow: hidden;
	}
	.like, .sign, .share{
		display: block;
		width: 24px;
	    height: 20px;
	    display: block;
	    margin-bottom: 10px;
	}
	.like{
		background: url(../img/png/icons.png) 0 -213px no-repeat;
	}
	.like-active{
		background: url(../img/png/icons.png) 0 -238px no-repeat;
	}
	.sign{
		background: url(../img/png/icons.png) 0 -265px no-repeat;
	}
	.sign-active{
		background: url(../img/png/icons.png) 0 -295px no-repeat;
	}
	.share{
		height: 24px;
		width: 26px;
		background: url(../img/png/icons.png) 0 -512px no-repeat;
	}
	.discount{
		position: absolute;
		top: 3%;
		.wh(55px, 55px);
		padding-top: 17px;
		.bx();
		border-radius: 50%;
		background: #f52551;
		text-align: center;
		.fontC(#fff, 700, 17px, @p_b);
		left: 3%;
	}
}

/*forms*/
form{
	h2{
		.fontC(@black, 400, 24px, @g_sb);
		margin: 0;
		padding-bottom: 10px;
	}	
	.price{
		overflow: hidden;
		border-bottom: 1px solid #e3e6e9;
		padding-bottom: 10px;
		b{
			.fontC(#a1b1bc, 400, 24px, @p_t);
			display: inline-block;
			margin-right: 15px;
			float: left;
			position: relative;
			&:after{
				display: block;
				content: "";
				width: 100%;
				height: 1px;
				position: absolute;
				top:40%;
				left: 0;
				background: #a1b1bc;
			}
		}
		.bold{
			.fontC(@green, 700, 24px, @p_b);
			&:after{
				display: none;
			}
		}
	}
	h4{
		.fontC(@black, 700, 14px, @p_b);
		margin: 0;
		padding-bottom: 10px;
		display: inline-block;
		b{
			display: inline-block;
			.fontC(@black, 400, 14px, @p_r);
		}
	}
	.reit{
		.fontC(@black, 400, 14px, @p_r);
		display: inline-block;
		position: relative;
		b{
			.wh(70px, 24px);
			background: #fff;
			border: 1px solid #dfe3e4;
			.bx();
			padding: 5px 10px;
			.fontC(#f7cb1d, 700, 14px, @p_b);
			&:after{
				display: inline-block;
				content: "";
				vertical-align: middle;
				.wh(16px, 16px);
				background: url(../img/png/icons.png) 0 -567px no-repeat;
			}
		}
	}
	.have{
		display: block;
		.fontC(@green, 400, 14px, @p_r);
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 1px solid #e3e6e9;
		margin-bottom: 10px;
	}
	.color{
		overflow: hidden;
	}
	.color-tag{
		display: none;
	}
	.color-tag + label{
		display: block;
		.wh(15px, 18px);
		float: left;
		border-radius: 2px;
		margin-right: 10px;
		border: 2px solid transparent;
	}
	.color-tag:checked + label{
		border: 2px solid @black;
	}
	.count{
		overflow: hidden;
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid #e3e6e9;
		span, input{
			float: left;
			display: block;
			margin-right: 10px;
		}
		span, input{
			.wh(30px, 30px);
			border: 1px solid #e3e6e9;
			background: #fff;
			text-align: center;
			border-radius: 1px;
			.bx();
			cursor: pointer;
			.fontC(#b8c6d0, 700, 20px, @p_b);
			padding-top: 2px;
		}
		input{
			text-align: left;
			width: 70px;
			padding-left: 10px;
			outline: none;
			padding-right: 20px;
			.fontC(#616c78, 700, 14px, @p_r);
			background:#fff url(../img/png/icons.png) 0 -585px no-repeat;
		}
	}
	.button{
		display: inline-block;
		padding: 20px 40px 20px 50px;
		background: @green;
		outline: none;
		border: none;
		.fontC(#fff, 700, 18px, @p_b);
		position: relative;
		margin: 0;
		.transition(.2s);
		border-radius: 3px;
		&:hover{
			background: darken(@green, 3%);
		}
		&:before{
			content: '';
			display: inline-block;
			.wh(24px, 20px);
			margin-right: 5px;
			background: url(../img/png/icons.png) 0 -625px no-repeat;
		}
	}
}	

/*------------tabs------------*/
.tabs{
	padding-top: 50px;
	padding-bottom: 80px;
	.header{
		background: #fff;
		border: 1px solid #d6dde5;
		border-left: none;
		border-bottom: none;
		&:after{
			.after();
		}
		span{
			float: left;
			.fontC(#a1b1bc, 400, 16px, @g_sb);
			display: block;
			padding: 15px 36px;
			border: 1px solid #d6dde5;
			border-left: none;
			border-bottom: none;
			border-top: none;
			background: #fff;
			cursor: pointer;
			&:first-child{
				border-radius: 3px 0 0 0;
				border-left: 1px solid #d6dde5;
			}
		}
		.active{
			.fontC(#3a3e4a, 700, 16px, @g_b);
		}
	}
	.banner{
		display: block;
		.wh(240px, 400px);
		margin: 0;
		img{
			display: block;
			.wh(100%, 100%);
		}
	}
	.text{
		padding: 40px;
		.bx();
	}
}
.content-tab{
	background: #fff;
	border: 1px solid #eee;
	.col-md-9{
		.row{
			margin: 0;
		}
	}
	h3{
		.fontC(#2c3e50, 400, 24px, @p_sb);
		margin: 0;
		padding-bottom: 10px;
	}
	p{
		.fontC(#717d85, 400, 14px, @p_r);
		margin: 0;
		line-height: 24px;
		padding-bottom: 10px;
	}
	li{
		position: relative;
		padding-bottom: 10px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			.wh(6px, 6px);
			border-radius: 50%;
			top: 6px;
			left: -20px;	
			background: @green;
		}
		&:after{
			.after();
		}
		span, i{
			display: block;
			.fontC(#7d7f85, 700, 14px, @p_b);
		}
		span{
			float: left;
		}
		i{
			float: right;
		}
	}
	.more{
		display: block;
		text-align: right;
		text-decoration: underline;
		.fontC(@green, 400, 15px, @p_r);
	}
}

/*------------single-access------------*/
.single-access{
	background: url(../img/jpg/bg_post_single.jpg) 0 0 no-repeat; 
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
	.head{
		h3{
			.fontC(#fff, 700, 24px, @p_b);
			padding-bottom: 10px;
			margin: 0;
		}
		p{
			.fontC(#3d6032, 400, 14px, @p_r);
			padding-bottom: 40px;
			margin: 0;
		}
	}
	/*cols___________OPEN______*/
	.pic{
		.pic();
	}
	.col-in{
		position: relative;
		text-align: center;
		border-radius: 4px;
		.bx();
		cursor: pointer;
		.transition(.3s);
		border: 1px solid transparent;
		height: 465px;
		overflow: hidden;
		margin-bottom: 40px;
		&:hover{
			box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.37);
			border: 1px solid #d5d5d5;
		}
	}
	.text{
		padding: 30px 15px 35px;
		overflow: hidden;
		background: #fff;
	}
	.link{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		.wh(100%, 100%);
	}
	h2{
		.h2();
	}
	h3{
		.h3();
	}
	.havent{
		color: @red;
	}
	.price{
		.fontC(#343e5c, 700, 14px, @g_m);
		display: block;
		float: none;
		text-align: center;
		padding-bottom: 15px;
	}
	.more{
		.more();
	}
	/*share*/
	.share{
		.share();
	}
	.stock, .descont{
		.stock();
	}
	.descont{
		background: #f5c125;
	}
	/*PICS*/
	.row{
		position: relative;
		&:after{
			content: '';
			display: block;
			.wh(510px, 530px);
			position: absolute;
			top: 0;
			left: -15%;
			background: url(../img/png/earphone.png) 0 0 no-repeat;
		}
	}
	.earphone{
		padding-top: 20%;
		.transition(0);
		cursor: default;
		position: relative;
		&:hover{
			box-shadow:none;
			border: 1px solid transparent;
		}
		&:after{
			content: '';
			display: block;
			.wh(195px, 260px);
			position: absolute;
			bottom: 0;
			left:50%;
			margin-left: -95px;
			background: url(../img/png/earphone2.png) 0 0 no-repeat;
		}
		h6{
			.fontC(#fff, 700, 18px, @p_b);
			text-transform: uppercase;
			margin: 0;
			padding-bottom: 15px;
		}
		p{
			.fontC(#3d6032, 400, 14px, @p_r);
		}
	}
}

.same{
	padding: 40px 0;
}
.single-text{
	h4{
		.h2();
	}
	.text{
		padding: 40px;
		background: #fff;
		border-radius: 5px;
	}
	h5{
		.fontC(#b8bfd3, 700, 16px, @p_b);
		margin: 0;
		padding-bottom: 10px;
	}
	p{
		margin: 0;
		.fontC(#50575e, 400, 14px, @p_r);
		padding: 0 0 10px 0;
	}
}


/*------------MEDIAS------------*/
@media(max-width: 1200px){
	.large{
		width: 85%;
	}
	.tumb{
		width: 12%;
	}
}

@media(max-width: 768px){
	.large .links, .large .discount{
		z-index: 10;
	}
	.large{
		width: 100%;
		img{
			display: block;
			height: auto;
		}
	}
	.large .item{
		display: block;
	}
	.col-lg-4{
		margin-top: 30px;
	}
	form .button{
		padding: 15px 30px;
		font-size: 14px;

	}
	form .button:before{
		display: none;
	}
	form .reit{
		display: block;
		margin: 15px 0;
	}
	.tabs{
		margin: 20px 0;
	}
	.tabs .header span{
		float: none;
		border: none;
		border-bottom: 1px solid #eee;
	}
	.tabs .header span:first-child{
		border-left: none;
		border-radius: none;
	}
	.tabs .banner, .tabs .banner img{
		margin-top: 20px;
		.wh(100%, auto);
	}
	.tabs .text{
		padding: 20px 10px;
	}
	.breadcrums{
		margin-bottom: 20px;
	}
}



























































