<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style/all.css">
    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<header>
		<div class="container">
			<span class="menu-open"></span>
			<a href="" class="hit">Хит продаж</a>
			<a href="" class="news">Новости и акции</a>
			<a href="" class="droid"><img src="./img/png/logo.png" alt=""></a>

			<input class="check_menu" type="checkbox" id="check_menu">
			<label for="check_menu"></label>

			<a href="" class="user"></a>
			<a href="" class="like"><i>12</i></a>
			<a href="" class="busket"><i>12</i></a>
			<span class="search"></span>
			<a href="" class="afm active_page"><img src="./img/png/afm.png" alt=""></a>
		</div>
	</header>
	<section class="banner container">
		<div class="call">
			<span>Не нашли в каталоге </span>
			<i>Привезем на заказ</i>
			<i class="call-popup">Заказать сейчас</i>
		</div>
		<div class="banner-slider">
			<a href="#" class="item"><img src="./img/jpg/slide1.jpg" alt=""></a>
			<a href="#" class="item"><img src="./img/jpg/slide1.jpg" alt=""></a>
			<a href="#" class="item"><img src="./img/jpg/slide1.jpg" alt=""></a>
			<a href="#" class="item"><img src="./img/jpg/slide1.jpg" alt=""></a>
		</div>
	</section>

	<main class="content">
		<div class="container">
			<div class="header">
				<h3>Избранное</h3>
				<h4>Мои заказы</h4>
			</div>{{-- header --}}

			<div class="row product">
				<div class="col-md-3">
					<div class="col-in">
						<div class="pic">
							<img src="./img/jpg/prod2.jpg" alt="">
							{{-- скидка размещается внутри pic --}}
							<i class="descont">-10%</i>
						</div>
						<div class="text">
							<h2>Sony Xperia Z5</h2>
							<h3>Есть в наличии</h3>
							<span class="price">$488.99</span>
							<span class="more">Посмотреть</span>
						</div>
						<a href="#" class="link"></a>
						<div class="share">
							<a href="#" class="sign"></a>
							<a href="#" class="like"></a>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-in">
						<div class="pic">
							<img src="./img/jpg/prod2.jpg" alt="">
							{{-- скидка размещается внутри pic --}}
							<i class="stock">Новинка</i>
						</div>
						<div class="text">
							<h2>Sony Xperia Z5</h2>
							<h3>Есть в наличии</h3>
							<span class="price">$488.99</span>
							<span class="more">Посмотреть</span>
						</div>
						<a href="#" class="link"></a>
						<div class="share">
							<a href="#" class="sign"></a>
							<a href="#" class="like"></a>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-in">
						<div class="pic">
							<img src="./img/jpg/prod2.jpg" alt="">
							{{-- скидка размещается внутри pic --}}
							<i class="descont">-10%</i>
						</div>
						<div class="text">
							<h2>Sony Xperia Z5</h2>
							<h3>Есть в наличии</h3>
							<span class="price">$488.99</span>
							<span class="more">Посмотреть</span>
						</div>
						<a href="#" class="link"></a>
						<div class="share">
							<a href="#" class="sign"></a>
							<a href="#" class="like"></a>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="col-in">
						<div class="pic">
							<img src="./img/jpg/prod2.jpg" alt="">
							{{-- скидка размещается внутри pic --}}
							<i class="descont">-10%</i>
						</div>
						<div class="text">
							<h2>Sony Xperia Z5</h2>
							<h3>Есть в наличии</h3>
							<span class="price">$488.99</span>
							<span class="more">Посмотреть</span>
						</div>
						<a href="#" class="link"></a>
						<div class="share">
							<a href="#" class="sign"></a>
							<a href="#" class="like"></a>
						</div>
					</div>
				</div>
				<a href="#" class="else">Перейти в каталог</a>
			</div>
		</div>
	</main>

	<section class="green-section">
		<div class="container">
			<h2 class="p-title">Популярные аксессуары</h2>
			<div class="slide-popular">

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
						<i class="descont">-10%</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>
				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
						<i class="descont">-10%</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>
				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
						<i class="descont">-10%</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

				<div href="" class="item">
					<div class="pic">
						<img src="./img/jpg/prod1.jpg" alt="">
						<i class="stock">Новинка</i>
					</div>
					<h2>Наушники</h2>
					<h3>Есть в наличии </h3>
					<span class="price">
						<i>$34.23</i><i>$30.00</i>
					</span>
					<span class="button">Заказать</span>
					<div class="share">
						<a href="#" class="sign"></a>
						<a href="#" class="like"></a>
					</div>
					<a href="#" class="link"></a>
				</div>

			</div>
		</div>
	</section>

	<section class="news-section container">
		<a href="#" class="title">Новости и акции</a>
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<img src="./img/jpg/news1.jpg" alt="">
				</div>
				<div class="text">
					<h2>Lorem ipsum dolor.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, perferendis.</p>
					<span class="more">Подробнее ...</span>
				</div>
				<a href="#" class="link"></a>
			</div>
			<div class="col-md-4">
				<div class="pic">
					<img src="./img/jpg/news1.jpg" alt="">
				</div>
				<div class="text">
					<h2>Lorem ipsum dolor.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, perferendis.</p>
					<span class="more">Подробнее ...</span>
				</div>
				<a href="#" class="link"></a>
			</div>
			<div class="col-md-4">
				<div class="pic">
					<img src="./img/jpg/news1.jpg" alt="">
				</div>
				<div class="text">
					<h2>Lorem ipsum dolor.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, perferendis.</p>
					<span class="more">Подробнее ...</span>
				</div>
				<a href="#" class="link"></a>
			</div>
		</div>
	</section>

	<section class="action container">
		<a href="#" class="title">Смартфоны и планшеты Droid</a>
		<div class="row">
			<div class="col-md-6">
				<div class="col-in">
					<a href="#">Lorem ipsum dolor sit.</a>
					{{-- STRING_limit__150__ --}}
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis labore officia unde minima perferendis, minus beatae recusandae rerum dolores modi.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-in">
					<a href="#">Lorem ipsum dolor sit.</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis labore officia unde minima perferendis, minus beatae recusandae rerum dolores modi.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-in">
					<a href="#">Lorem ipsum dolor sit.</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis labore officia unde minima perferendis, minus beatae recusandae rerum dolores modi.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-in">
					<a href="#">Lorem ipsum dolor sit.</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis labore officia unde minima perferendis, minus beatae recusandae rerum dolores modi.</p>
				</div>
			</div>
		</div>
	</section>
	
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="logo-footer"><img src="./img/png/logo-footer.png" alt=""></a>
                <a href="">Lorem ipsum.</a>
                <a href="">Officiis, eaque.</a>
                <a href="">Asperiores, eveniet.</a>
            </div>
            <div class="col-md-3">
                <h3>Lorem ipsum.</h3>
                <a href="" class="">Lorem.</a>
                <a href="" class="">Omnis.</a>
                <a href="" class="">Ducimus.</a>
                <a href="" class="">Temporibus!</a>
            </div>
            <div class="col-md-3">
                <h3>Lorem ipsum.</h3>
                <a href="" class="">Lorem.</a>
                <a href="" class="">Ratione.</a>
                <a href="" class="">Eos.</a>
                <a href="" class="">Ullam.</a>
            </div>
            <div class="col-md-3">
                <h3>Lorem ipsum.</h3>
                <form action="/">
                    <input type="text" placeholder="Ваш email">
                    <button>Подписаться</button>
                </form>
                <a href="" class="f"></a>
                <a href="" class="i"></a>
                <a href="" class="g"></a>
                <a href="" class="t"></a>
            </div>
        </div>
    </div>
</footer>
<div 
    class="bg"
    style="background: url(./img/jpg/bg_afm.jpg) 0 0"></div>

<script src="./js/main.js"></script>
<script src="./js/all.js"></script>
</body>
</html>




















