html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
/*___________MIXINS___________*/
/*.h2(){
	.fontC(@black, 400, 16px, @g_m);
	margin: 0;
	padding-bottom: 10px;
}*/
/*___________MIXINS___________*/
.review {
  padding: 60px 0 80px;
}
.review .row {
  background: #fff;
  margin: 0;
  padding: 50px 25px;
  box-sizing: border-box;
  border-radius: 3px;
}
.review .col-md-6 {
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
}
.review .col-md-6:nth-child(odd) {
  border-right: 2px dotted #e8e8e8;
}
.review .col-in {
  border: 1px solid #e4e7e9;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.review .pic {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.review img {
  display: block;
  width: 100%;
  height: 100%;
}
.review .text {
  width: 70%;
  float: right;
  max-height: 150px;
}
.review h2 {
  color: #50575e;
  font: 700 22px "ProximaBold";
  margin: 0;
  padding-bottom: 25px;
}
.review h4 {
  color: #555555;
  font: 400 18px "ProximaSemiBold";
  padding-bottom: 10px;
  margin: 0;
}
.review p {
  color: #8c8c8c;
  font: 400 14px "ProximaNovaRegular";
  line-height: 24px;
}
.review form {
  width: 100%;
  height: auto;
}
.review .form {
  height: auto;
}
.review input,
.review textarea {
  display: block;
  resize: none;
  width: 100%;
  height: auto;
  color: #555555;
  font: 400 14px "ProximaNovaRegular";
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #e4e7e9;
  border-radius: 3px;
}
.review textarea {
  height: 200px;
}
.review button {
  display: inline-block;
  float: left;
  padding: 15px 35px;
  border-radius: 2px;
  color: #fff;
  font: 700 14px "ProximaBold";
  border: none;
  border-radius: 3px;
  outline: none;
  background: #50575e;
  transition: all 0.2s ease-in-out;
}
.review button:hover {
  background: #42484f;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}
/*------------MIXINS--------*/
/*prod*/
/*__________________________*/
/*------------MIXINS--------*/
header {
  border-bottom: 1px solid #d7dadb;
  background: #fff;
  /*float_right;*/
  /*CHECKBOX*/
  /*CHECKBOX_END*/
}
header .container:after {
  height: 0;
  display: block;
  font-size: 0;
  position: relative;
  width: 100%;
  clear: both;
  content: ".";
}
header .menu-open {
  float: left;
  position: relative;
  box-sizing: border-box;
  margin-right: 40px;
  padding: 40px;
  display: block;
  border-right: 1px solid #f0f2f7;
}
header .menu-open:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 14px;
  background: url(../img/png/icons.png) 0 0 no-repeat;
}
header .hit,
header .news {
  padding: 25px 0;
  box-sizing: border-box;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  margin-right: 52px;
  float: left;
}
header .droid {
  display: block;
  margin-left: 15px;
  float: left;
  padding-top: 12px;
  opacity: .8;
}
header .afm {
  float: right;
  opacity: .8;
  padding-top: 12px;
  margin-right: 60px;
}
header .active_page {
  opacity: 1;
}
header .search,
header .busket,
header .like,
header .user {
  display: block;
  position: relative;
  float: right;
  margin-top: 35px;
}
header .search i,
header .busket i,
header .like i,
header .user i {
  position: absolute;
  background: #62bf43;
  display: block;
  top: 0;
  right: -25px;
  width: 23px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  font: 400 12px "ProximaNovaRegular";
  text-align: center;
}
header .search i:after,
header .busket i:after,
header .like i:after,
header .user i:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 5px;
  height: 8px;
  background: url(../img/png/icons.png) 0 -187px no-repeat;
}
header .user {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -145px no-repeat;
  padding-right: 25px;
}
header .user:after {
  width: 9px;
  height: 7px;
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  right: -10px;
  top: 6px;
  background: url(../img/png/icons.png) -2px -173px no-repeat;
}
header .like {
  width: 21px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -118px no-repeat;
  margin-right: 43px;
}
header .busket {
  width: 21px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -91px no-repeat;
  margin-right: 43px;
}
header .search {
  cursor: pointer;
  width: 21px;
  height: 18px;
  margin-right: 30px;
  background: url(../img/png/icons.png) 0 -61px no-repeat;
}
header .check_menu {
  display: none;
}
header .check_menu + label {
  display: block;
  width: 60px;
  height: 20px;
  background: #eaeaea;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  left: 50%;
  cursor: pointer;
  overflow: hidden;
  margin-left: 30px;
}
header .check_menu + label:before {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  width: 35px;
  height: 20px;
  border-radius: 50px;
  background: #9a2525;
  float: left;
  transition: all 0.3s ease-in-out;
}
header .check_menu:checked + label:before {
  float: right;
}
/*------------content-----------*/
.content {
  margin-bottom: 70px;
}
.content .header {
  padding: 70px 0 20px;
}
.content .header:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.content ul {
  margin: 0;
  padding: 0;
}
.content h3,
.content h4 {
  float: left;
  margin: 0;
  color: #596067;
  font: 700 22px "ProximaBold";
  margin-right: 40px;
}
.content h4 {
  color: #596067;
  font: 100 22px "ProximaThin";
}
.content .compare {
  float: right;
  position: relative;
  display: block;
  padding-right: 30px;
  color: #596067;
  font: 400 14px "ProximaNovaRegular";
}
.content .compare i {
  position: absolute;
  background: #62bf43;
  display: block;
  top: 0;
  right: -25px;
  width: 23px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  font: 400 12px "ProximaNovaRegular";
  text-align: center;
  right: 0;
}
.content .compare i:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 5px;
  height: 8px;
  background: url(../img/png/icons.png) 0 -187px no-repeat;
}
.content .active ul {
  display: block;
}
.content .active h6:after {
  transform: rotate(0);
}
.sidebar .category {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.sidebar .category h6 {
  margin: 0;
  color: #1c1e23;
  font: 700 16px "ProximaBold";
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f0f2f7;
  position: relative;
}
.sidebar .category h6:after {
  display: block;
  content: "";
  transform: rotate(-90deg);
  width: 11px;
  height: 6px;
  transition: all 0.3s ease-in-out;
  background: url(../img/png/icons.png) 0 -199px no-repeat;
  position: absolute;
  top: 25px;
  right: 20px;
}
.sidebar .cat-in {
  background: #f9fafb;
  display: none;
}
.sidebar .cat-in a {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #dfe4ee;
  background-image: none;
  color: #a1a8bd;
  font: 700 11px "ProximaBold";
}
.product {
  /*bigone*/
  /*share*/
}
.product .else {
  width: 150px;
  height: auto;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  display: block;
  background: #c4cbcf;
  clear: both;
  border-radius: 3px;
  color: #fff;
  font: 700 14px "ProximaBold";
  transition: all 0.3s ease-in-out;
}
.product .else:hover {
  text-decoration: none;
  background: #50575e;
}
.product .pic {
  height: 260px;
}
.product .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.product .col-in {
  position: relative;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  height: 465px;
  overflow: hidden;
  margin-bottom: 40px;
}
.product .col-in:hover {
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.37);
  border: 1px solid #d5d5d5;
}
.product .text {
  padding: 30px 15px 35px;
  overflow: hidden;
  background: #fff;
}
.product .col-md-8 .text {
  padding-top: 40px;
}
.product .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product h2 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
.product h3 {
  display: block;
  text-align: center;
  color: #62bf43;
  font: 400 12px 'verdana';
  text-transform: uppercase;
  padding-bottom: 15px;
  float: none;
  margin: 0;
}
.product .havent {
  color: #9a2525;
}
.product .price {
  color: #343e5c;
  font: 700 14px 'verdana';
  display: block;
  float: none;
  text-align: center;
  padding-bottom: 15px;
}
.product .more {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 30px;
  border-radius: 3px;
  background: #9a2525;
  transition: all 0.2s ease-in-out;
}
.product .col-md-8 {
  background: transparent;
}
.product .col-md-8 .col-in {
  padding: 0;
}
.product .col-md-8 .pic {
  height: 330px;
  padding: 0;
  position: relative;
}
.product .col-md-8 h2,
.product .col-md-8 h3 {
  text-align: left;
  display: block;
}
.product .col-md-8 .more {
  background: #50575e;
}
.product .col-md-8 .price {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #9a2525;
  color: #fff;
  font: 400 14px 'verdana';
  padding: 9px 17px;
  border-radius: 3px;
}
.product .left {
  width: 65%;
  float: left;
}
.product .right {
  width: 30%;
  float: right;
}
.product .share {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  overflow: hidden;
}
.product .share a {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 20px;
  display: block;
}
.product .share .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.product .share .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.product .share .sign {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.product .share .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.product .stock,
.product .descont {
  position: absolute;
  top: 13px;
  left: -42px;
  width: 150px;
  padding: 10px 0;
  background: #dd3b56;
  color: #fff;
  font: 400 12px 'verdana';
  transform: rotate(-45deg);
}
.product .descont {
  background: #f5c125;
}
/*----------SLIDER-popular------------*/
.slide-popular {
  /*slide_nav*/
}
.slide-popular .item {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  background: #fff;
}
.slide-popular .pic {
  height: 260px;
}
.slide-popular .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.slide-popular h2 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
.slide-popular h3 {
  display: block;
  text-align: center;
  color: #62bf43;
  font: 400 12px 'verdana';
  text-transform: uppercase;
  padding-bottom: 15px;
  float: none;
  margin: 0;
}
.slide-popular .stock,
.slide-popular .descont {
  position: absolute;
  top: 13px;
  left: -42px;
  width: 150px;
  padding: 10px 0;
  background: #dd3b56;
  color: #fff;
  font: 400 12px 'verdana';
  transform: rotate(-45deg);
}
.slide-popular .descont {
  background: #f5c125;
}
.slide-popular .price {
  overflow: hidden;
  display: block;
  padding-left: 30%;
  padding-bottom: 20px;
}
.slide-popular .price i {
  display: block;
  float: left;
  margin-right: 15px;
  text-align: left;
  color: #1c1e23;
  font: 700 12px "ProximaBold";
}
.slide-popular .price i:first-child {
  color: #b8bfd3;
}
.slide-popular .button {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 30px;
  border-radius: 3px;
  background: #9a2525;
  transition: all 0.2s ease-in-out;
}
.slide-popular .share {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  overflow: hidden;
}
.slide-popular .share a {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 20px;
  display: block;
}
.slide-popular .share .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.slide-popular .share .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.slide-popular .share .sign {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.slide-popular .share .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.slide-popular .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.slide-popular .owl-nav {
  position: absolute;
  top: -30px;
  overflow: hidden;
  right: 0;
}
.slide-popular .owl-nav .owl-next,
.slide-popular .owl-nav .owl-prev {
  display: inline-block;
  float: left;
  font-size: 0;
  width: 10px;
  height: 20px;
  background: url(../img/png/icons.png) -36px -321px no-repeat;
}
.slide-popular .owl-nav .owl-prev {
  margin-right: 20px;
  background: url(../img/png/icons.png) 0 -321px no-repeat;
}
.p-title {
  color: #596067;
  font: 700 22px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
/*----------news------------*/
.news-section {
  padding-top: 60px;
}
.news-section .title {
  color: #596067;
  font: 700 22px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.news-section .pic {
  width: 100%;
  height: 250px;
}
.news-section .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.news-section .text {
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}
.news-section h2 {
  color: #1c1e23;
  font: 700 18px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.news-section p {
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 20px;
}
.news-section span {
  display: block;
  color: #9a2525;
  font: 400 14px "ProximaNovaRegular";
}
.news-section .col-md-4 {
  position: relative;
}
.news-section .col-md-4:hover > .text {
  border-bottom: 2px solid #9a2525;
}
.news-section .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/*----------action------------*/
.action {
  padding-top: 60px;
}
.action .title {
  color: #596067;
  font: 700 22px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.action .row {
  background: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 40px 20px;
}
.action .col-md-6 {
  margin-bottom: 40px;
}
.action .col-in {
  box-sizing: border-box;
  padding: 0 10%;
}
.action a {
  display: block;
  color: #b8bfd3;
  font: 700 16px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.action a:hover {
  color: #596067;
  text-decoration: none;
}
.action p {
  margin: 0;
  padding: 0;
  color: #596067;
  font: 400 14px "ProximaNovaRegular";
  line-height: 20px;
}
footer {
  margin-top: 100px!important;
  padding: 30px 0!important;
  display: block;
  background: #202326;
}
footer a {
  display: block;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 10px;
  margin: 0;
}
footer a.logo-footer {
  display: block;
  padding-bottom: 30px;
}
footer h3 {
  padding-bottom: 10px;
  color: #a3a9ad;
  font: 700 14px "ProximaBold";
}
footer .f,
footer .i,
footer .g,
footer .t {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background: url(../img/png/icons.png) 0 -353px no-repeat;
}
footer .i {
  background: url(../img/png/icons.png) -150px -353px no-repeat;
}
footer .g {
  background: url(../img/png/icons.png) -100px -353px no-repeat;
}
footer .t {
  background: url(../img/png/icons.png) -50px -353px no-repeat;
}
footer form {
  position: relative;
  width: 280px;
  height: 30px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 50px;
}
footer form input {
  width: 59%;
  background: #3c4247;
  display: block;
  height: 100%;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  border: none;
  outline: none;
  padding: 0 20px;
  box-sizing: border-box;
}
footer form button {
  display: block;
  width: 130px;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  background: #62bf43;
  border: none;
  outline: none;
  padding: 5px 20px;
}
footer form button:hover {
  background: #5ab13c;
}
/*----------banner------------*/
.banner {
  margin: 50px 0 80px;
  position: relative;
  /*slide*/
  /*call*/
}
.banner img {
  display: block;
  width: 100%;
  height: auto;
}
.banner .item {
  display: block;
}
.banner .owl-dots {
  overflow: hidden;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -100px;
  z-index: 9999;
  width: 200px;
}
.banner .owl-dot {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid #808080;
  background: transparent;
  border-radius: 50%;
  float: left;
  margin: 0 3px;
}
.banner .active {
  border: 2px solid #fff;
  background: #fff;
}
.banner .owl-prev,
.banner .owl-next {
  position: absolute;
  top: 40%;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  font-size: 0;
  width: 51px;
  height: 51px;
  opacity: 0.7;
  background: url(../img/png/icons.png) 0 -410px no-repeat;
}
.banner .owl-prev:hover,
.banner .owl-next:hover {
  opacity: 1;
}
.banner .owl-prev {
  left: 5%;
}
.banner .owl-next {
  transform: rotate(180deg);
  right: 5%;
}
.banner .call {
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 99999;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 20px 40px;
}
.banner .call span,
.banner .call i {
  display: block;
  color: #596067;
  font: 400 18px "ProximaNovaRegular";
}
.banner .call i {
  color: #596067;
  font: 700 18px "ProximaBold";
}
.banner .call .call-popup {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 3px;
  background: #62bf43;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #fff;
}
.banner .call .call-popup:hover {
  background: #5bb53e;
}
/*===============MEDIAS===============*/
@media (max-width: 1200px) {
  body .hit,
  body .news {
    display: none;
  }
  body .check_menu + label {
    position: static;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
  }
  body header .afm {
    float: left;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
  }
  body header .menu-open {
    margin-right: 0;
  }
  body .banner img {
    min-height: 250px;
  }
  /*body*/
}
@media (max-width: 768px) {
  body .container {
    padding: 0 15px;
  }
  .banner .call {
    display: none;
  }
  .content .header {
    padding: 20px 0;
  }
  .content h3,
  .content h4 {
    float: none;
    margin-right: 0;
  }
  body .banner,
  .slide-popular {
    margin-bottom: 30px;
  }
  .product .col-md-8 .pic,
  .product .col-in,
  .product .pic img,
  .product .pic,
  .news-section .pic,
  .news-section .pic img {
    height: auto;
  }
  .news-section .col-md-4 {
    margin-bottom: 20px;
  }
  .product .left,
  .product .right {
    width: 100%;
    float: none;
  }
  .product .col-md-8 h2,
  .product .col-md-8 h3 {
    text-align: center;
  }
  .product .col-md-8 .text {
    padding-top: 20px;
  }
  .slide-popular .owl-nav {
    left: 0;
  }
  .p-title {
    padding-bottom: 40px;
  }
  .action .row {
    padding: 20px 15px;
  }
  .action .col-in {
    padding: 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
/*------------MIXINS--------*/
/*prod*/
/*__________________________*/
.breadcrums {
  padding-top: 30px;
  padding-bottom: 30px;
}
.breadcrums:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.breadcrums .left {
  overflow: hidden;
  display: inline-block;
}
.breadcrums .left a {
  float: left;
  color: #9b9b9b;
  font: 400 14p "ProximaNovaRegular";
  padding-right: 10px;
  display: block;
}
.breadcrums .left .active {
  color: #62bf43;
}
.breadcrums .compare {
  float: right;
  position: relative;
  display: block;
  padding-right: 30px;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
}
.breadcrums .compare i {
  position: absolute;
  background: #62bf43;
  display: block;
  top: 0;
  right: -25px;
  width: 23px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  font: 400 12px "ProximaNovaRegular";
  text-align: center;
  right: 0;
}
.breadcrums .compare i:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 5px;
  height: 8px;
  background: url(../img/png/icons.png) 0 -187px no-repeat;
}
.breadcrums .compare span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 17px;
  height: 17px;
  background: url(../img/png/icons.png) 0 -266px no-repeat;
}
/*_________SLIDER___tumb____________*/
.col-md-8:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.tumb {
  width: 90px;
  position: relative;
  overflow: hidden;
  float: left;
  height: 480px;
  padding: 25px 0;
  box-sizing: border-box;
}
.tumb .item {
  display: block;
  border: 1px solid transparent;
  width: 100%;
  height: 110px;
  cursor: pointer;
  margin: 5px 0;
}
.tumb .item-parent {
  transition: all 0.3s ease-in-out;
}
.tumb .active {
  border: 1px solid #62bf43;
}
.tumb img {
  display: block;
  width: 100%;
  height: 100%;
}
.tumb .bottom,
.tumb .top {
  position: absolute;
  background: #f6f8f9;
  left: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.tumb .bottom:after,
.tumb .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 6px;
  background: url(../img/png/icons.png) 0 -502px no-repeat;
}
.tumb .bottom {
  bottom: 0;
  border-radius: 0 0 2px 2px;
}
.tumb .top {
  border-radius: 2px 2px 0 0;
  top: 0;
}
.tumb .top:after {
  transform: rotate(180deg);
}
/*large*/
.large {
  float: right;
  box-sizing: border-box;
  border: 1px solid #e3e6e9;
  position: relative;
  width: 670px;
}
.large img {
  display: block;
  width: 100%;
  height: 480px;
}
.large .item {
  display: none;
}
.large .active {
  display: block;
}
.large .links {
  position: absolute;
  top: 3%;
  right: 3%;
  overflow: hidden;
}
.large .like,
.large .sign,
.large .share {
  width: 24px;
  height: 20px;
  display: block;
  margin-bottom: 10px;
}
.large .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.large .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.large .sign {
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.large .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.large .share {
  height: 24px;
  width: 26px;
  background: url(../img/png/icons.png) 0 -512px no-repeat;
}
.large .discount {
  position: absolute;
  top: 3%;
  width: 55px;
  height: 55px;
  padding-top: 17px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #f52551;
  text-align: center;
  color: #fff;
  font: 700 17px "ProximaBold";
  left: 3%;
}
/*forms*/
form h2 {
  color: #1c1e23;
  font: 400 24px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
form .price {
  overflow: hidden;
  border-bottom: 1px solid #e3e6e9;
  padding-bottom: 10px;
}
form .price b {
  color: #a1b1bc;
  font: 400 24px "ProximaThin";
  display: inline-block;
  margin-right: 15px;
  float: left;
  position: relative;
}
form .price b:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 40%;
  left: 0;
  background: #a1b1bc;
}
form .price .bold {
  color: #62bf43;
  font: 700 24px "ProximaBold";
}
form .price .bold:after {
  display: none;
}
form h4 {
  color: #1c1e23;
  font: 700 14px "ProximaBold";
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
}
form h4 b {
  display: inline-block;
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
}
form .reit {
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
  display: inline-block;
  position: relative;
}
form .reit b {
  width: 70px;
  height: 24px;
  background: #fff;
  border: 1px solid #dfe3e4;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #f7cb1d;
  font: 700 14px "ProximaBold";
}
form .reit b:after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../img/png/icons.png) 0 -567px no-repeat;
}
form .have {
  display: block;
  color: #62bf43;
  font: 400 14px "ProximaNovaRegular";
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e6e9;
  margin-bottom: 10px;
}
form .color {
  overflow: hidden;
}
form .color-tag {
  display: none;
}
form .color-tag + label {
  display: block;
  width: 15px;
  height: 18px;
  float: left;
  border-radius: 2px;
  margin-right: 10px;
  border: 2px solid transparent;
}
form .color-tag:checked + label {
  border: 2px solid #1c1e23;
}
form .count {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e3e6e9;
}
form .count span,
form .count input {
  float: left;
  display: block;
  margin-right: 10px;
}
form .count span,
form .count input {
  width: 30px;
  height: 30px;
  border: 1px solid #e3e6e9;
  background: #fff;
  text-align: center;
  border-radius: 1px;
  box-sizing: border-box;
  cursor: pointer;
  color: #b8c6d0;
  font: 700 20px "ProximaBold";
  padding-top: 2px;
}
form .count input {
  text-align: left;
  width: 70px;
  padding-left: 10px;
  outline: none;
  padding-right: 20px;
  color: #616c78;
  font: 700 14px "ProximaNovaRegular";
  background: #fff url(../img/png/icons.png) 0 -585px no-repeat;
}
form .button {
  display: inline-block;
  padding: 20px 40px 20px 50px;
  background: #62bf43;
  outline: none;
  border: none;
  color: #fff;
  font: 700 18px "ProximaBold";
  position: relative;
  margin: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
form .button:hover {
  background: #5bb53e;
}
form .button:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 5px;
  background: url(../img/png/icons.png) 0 -625px no-repeat;
}
/*------------tabs------------*/
.tabs {
  padding-top: 50px;
  padding-bottom: 80px;
}
.tabs .header {
  background: #fff;
  border: 1px solid #d6dde5;
  border-left: none;
  border-bottom: none;
}
.tabs .header:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.tabs .header span {
  float: left;
  color: #a1b1bc;
  font: 400 16px 'verdana';
  display: block;
  padding: 15px 36px;
  border: 1px solid #d6dde5;
  border-left: none;
  border-bottom: none;
  border-top: none;
  background: #fff;
  cursor: pointer;
}
.tabs .header span:first-child {
  border-radius: 3px 0 0 0;
  border-left: 1px solid #d6dde5;
}
.tabs .header .active {
  color: #3a3e4a;
  font: 700 16px 'verdana';
}
.tabs .banner {
  display: block;
  width: 240px;
  height: 400px;
  margin: 0;
}
.tabs .banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.tabs .text {
  padding: 40px;
  box-sizing: border-box;
}
.content-tab {
  background: #fff;
  border: 1px solid #eee;
}
.content-tab .col-md-9 .row {
  margin: 0;
}
.content-tab h3 {
  color: #2c3e50;
  font: 400 24px "ProximaSemiBold";
  margin: 0;
  padding-bottom: 10px;
}
.content-tab p {
  color: #717d85;
  font: 400 14px "ProximaNovaRegular";
  margin: 0;
  line-height: 24px;
  padding-bottom: 10px;
}
.content-tab li {
  position: relative;
  padding-bottom: 10px;
}
.content-tab li:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 6px;
  left: -20px;
  background: #62bf43;
}
.content-tab li:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.content-tab li span,
.content-tab li i {
  display: block;
  color: #7d7f85;
  font: 700 14px "ProximaBold";
}
.content-tab li span {
  float: left;
}
.content-tab li i {
  float: right;
}
.content-tab .more {
  display: block;
  text-align: right;
  text-decoration: underline;
  color: #62bf43;
  font: 400 15px "ProximaNovaRegular";
}
/*------------single-access------------*/
.single-access {
  background: url(../img/jpg/bg_post_single.jpg) 0 0 no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  /*cols___________OPEN______*/
  /*share*/
  /*PICS*/
}
.single-access .head h3 {
  color: #fff;
  font: 700 24px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.single-access .head p {
  color: #3d6032;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 40px;
  margin: 0;
}
.single-access .pic {
  height: 260px;
}
.single-access .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.single-access .col-in {
  position: relative;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  height: 465px;
  overflow: hidden;
  margin-bottom: 40px;
}
.single-access .col-in:hover {
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.37);
  border: 1px solid #d5d5d5;
}
.single-access .text {
  padding: 30px 15px 35px;
  overflow: hidden;
  background: #fff;
}
.single-access .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-access h2 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
.single-access h3 {
  display: block;
  text-align: center;
  color: #62bf43;
  font: 400 12px 'verdana';
  text-transform: uppercase;
  padding-bottom: 15px;
  float: none;
  margin: 0;
}
.single-access .havent {
  color: #9a2525;
}
.single-access .price {
  color: #343e5c;
  font: 700 14px 'verdana';
  display: block;
  float: none;
  text-align: center;
  padding-bottom: 15px;
}
.single-access .more {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 30px;
  border-radius: 3px;
  background: #62bf43;
  transition: all 0.2s ease-in-out;
}
.single-access .share {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  overflow: hidden;
}
.single-access .share a {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 20px;
  display: block;
}
.single-access .share .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.single-access .share .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.single-access .share .sign {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.single-access .share .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.single-access .stock,
.single-access .descont {
  position: absolute;
  top: 13px;
  left: -42px;
  width: 150px;
  padding: 10px 0;
  background: #dd3b56;
  color: #fff;
  font: 400 12px 'verdana';
  transform: rotate(-45deg);
}
.single-access .descont {
  background: #f5c125;
}
.single-access .row {
  position: relative;
}
.single-access .row:after {
  content: '';
  display: block;
  width: 510px;
  height: 530px;
  position: absolute;
  top: 0;
  left: -15%;
  background: url(../img/png/earphone.png) 0 0 no-repeat;
}
.single-access .earphone {
  padding-top: 20%;
  transition: all 0 ease-in-out;
  cursor: default;
  position: relative;
}
.single-access .earphone:hover {
  box-shadow: none;
  border: 1px solid transparent;
}
.single-access .earphone:after {
  content: '';
  display: block;
  width: 195px;
  height: 260px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -95px;
  background: url(../img/png/earphone2.png) 0 0 no-repeat;
}
.single-access .earphone h6 {
  color: #fff;
  font: 700 18px "ProximaBold";
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}
.single-access .earphone p {
  color: #3d6032;
  font: 400 14px "ProximaNovaRegular";
}
.same {
  padding: 40px 0;
}
.single-text h4 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
.single-text .text {
  padding: 40px;
  background: #fff;
  border-radius: 5px;
}
.single-text h5 {
  color: #b8bfd3;
  font: 700 16px "ProximaBold";
  margin: 0;
  padding-bottom: 10px;
}
.single-text p {
  margin: 0;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  padding: 0 0 10px 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.about {
  padding: 50px 0;
}
.about h1 {
  color: #50575e;
  font: 700 18px "ProximaBold";
  margin: 0;
  width: 50%;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.about .row {
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
}
.about .text {
  padding: 40px 60px;
}
.about p {
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  margin: 0;
  padding-bottom: 10px;
}
.about strong {
  display: inline-block;
  color: #b8bfd3;
  font: 700 14px "ProximaBold";
}
.slogan {
  padding: 50px 0;
  background: url(../img/jpg/green_fon.jpg) 0 0 repeat;
  text-align: center;
}
.slogan h2 {
  padding: 0;
  margin: 0 auto;
  width: 520px;
  color: #fff;
  font: 700 18px "ProximaBold";
}
.advice {
  padding: 50px 0;
}
.advice .row {
  padding-bottom: 50px;
}
.advice .col-in {
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
}
.advice img {
  display: block;
  margin: 15px auto;
}
.advice p {
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  margin: 0;
}
.advice h4 {
  color: #b8bfd3;
  font: 700 18px "ProximaBold";
  margin: 0;
  padding-bottom: 10px;
}
.advice h3 {
  text-align: center;
  width: 70%;
  color: #1c1e23;
  font: 700 18px "ProximaBold";
  margin: 0 auto;
}
.advice .visit {
  padding-top: 10px;
  display: block;
  text-decoration: underline;
  cursor: pointer;
  color: #62bf43;
  font: 700 16px "ProximaBold";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.blog {
  padding-top: 50px;
  padding-bottom: 80px;
}
.blog h4 {
  color: #50575e;
  font: 700 22px "ProximaBold";
  padding-bottom: 20px;
  margin: 0;
}
.blog .col-md-6 .pic {
  height: 340px;
}
.blog .col-md-6 .col-in {
  height: 520px;
}
.blog .pic {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.blog img {
  display: block;
  width: 100%;
  height: 100%;
}
.blog .col-in {
  position: relative;
  background: #fff;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog .text {
  padding: 30px;
  box-sizing: border-box;
}
.blog h1 {
  color: #1c1e23;
  font: 400 18px "ProximaSemiBold";
  margin: 0;
  padding-bottom: 20px;
}
.blog p {
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 20px;
  margin: 0;
}
.blog span {
  color: #62bf43;
  font: 400 14px "ProximaNovaRegular";
}
.blog .share {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 24px;
  height: 26px;
  background: url(../img/png/icons.png) 0 -474px no-repeat;
}
.blog .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.blog h6 {
  text-align: center;
}
.blog h6 a {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 40px;
  border-radius: 3px;
  background: #c4cbcf;
}
/*______email______*/
.email {
  padding: 50px 0;
  background: url(../img/jpg/bg_email.jpg) 0 0 repeat;
}
.email h3 {
  color: #fff;
  font: 700 18px "ProximaBold";
  padding: 0;
  margin: 0;
}
.email input {
  display: block;
  float: left;
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-right: 22px;
  border-radius: 50px;
  background: #6a7274;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
}
.email button {
  border-radius: 50px;
  outline: none;
  border: none;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  display: block;
  padding: 10px 20px;
  float: right;
  background: #ecc011;
  transition: all 0.2s ease-in-out;
}
.email button:hover {
  background: #dfb50d;
}
/*______state______*/
.state {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.state h3 {
  text-transform: uppercase;
  color: #50575e;
  font: 700 18px "ProximaBold";
  margin: 0;
  padding-bottom: 30px;
}
.state .col-in {
  margin: 0 auto;
  width: 570px;
  height: auto;
  background: #fff;
  border: 2px dotted #e8e8e8;
  padding: 30px 50px;
  box-sizing: border-box;
}
.state h4 {
  margin: 0;
  padding-bottom: 10px;
  color: #b8bfd3;
  font: 700 16px "ProximaSemiBold";
}
.state p {
  padding: 0 0 10px 0;
  margin: 0;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
body .product .more {
  background: #62bf43;
}
.green-section {
  padding: 50px;
  background: url(../img/jpg/green_fon.jpg) 0 0 repeat;
}
.green-section .p-title {
  color: #fff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.baster-page {
  padding: 50px 0 80px;
}
.baster-page h4 {
  color: #50575e;
  font: 700 22px "ProximaBold";
  padding-bottom: 20px;
  margin: 0;
}
.baster-page .count {
  background: #fff;
  padding: 30px 60px;
}
.baster-page ul {
  padding: 20px 0;
  border-bottom: 1px solid #f7f7f7;
  overflow: hidden;
}
.baster-page li,
.baster-page h5 {
  float: left;
  overflow: hidden;
  width: 25%;
}
.baster-page .header {
  border-bottom: 1px solid #efefef;
}
.baster-page .header li {
  color: #1c1e23;
  font: 400 18px "ProximaNovaRegular";
}
.baster-page h3 {
  color: #797b82;
  font: 400 18px 'verdana';
  margin: 0;
}
.baster-page i {
  margin: 0;
  display: block;
  float: left;
  color: #62bf43;
  font: 400 18px "ProximaNovaRegular";
}
.baster-page span,
.baster-page input {
  display: block;
  outline: none;
  border: 1px solid #e3e6e9;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  float: left;
  background: #fff;
  border-radius: 3px;
  color: #b8c6d0;
  font: 700 16px "ProximaBold";
  padding-top: 5px;
}
.baster-page input {
  width: 50px;
  color: #686e71;
  font: 400 16px "ProximaNovaRegular";
}
.baster-page .delete {
  width: 20px;
  height: 20px;
  color: #a1a7ab;
  font: 400 10px "ProximaNovaRegular";
  text-align: center;
  display: block;
  background: #d3d8dc;
  padding: 2px 0 0;
  float: right;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.baster-page h5 {
  float: right;
  width: auto;
  margin: 0;
  margin-top: -5px;
  font-size: 22px;
}
.baster-page h5 i {
  float: none;
  display: inline-block;
  color: #62bf43;
  font: 700 22px "ProximaBold";
}
.baster-page .footer {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.baster-page .check {
  display: none;
}
.baster-page .check + label {
  display: block;
  float: left;
  color: #1c1e23;
  font: 700 15px "ProximaBold";
  position: relative;
  padding-right: 15px;
}
.baster-page .check + label:after {
  display: block;
  content: "";
  margin-right: 30px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background: url(../img/png/icons.png) -27px -658px no-repeat;
}
.baster-page .check:checked + label:after {
  background: url(../img/png/icons.png) 0 -658px no-repeat;
}
.baster-page .form {
  margin: 0 auto;
  width: 670px;
  overflow: hidden;
  padding-bottom: 10px;
}
.baster-page .form input {
  float: left;
  width: 230px;
  border: 1px solid #e8e8e8;
  padding: 10px 20px;
  margin-right: 30px;
  height: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: left;
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
}
.baster-page button {
  padding: 10px 40px;
  background: #62bf43;
  display: inline-block;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 40px;
  float: left;
  color: #fff;
  font: 700 16px "ProximaBold";
}

/*# sourceMappingURL=app.css.map */
