html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.blog {
  padding-top: 50px;
  padding-bottom: 80px;
}
.blog h4 {
  color: #50575e;
  font: 700 22px "ProximaBold";
  padding-bottom: 20px;
  margin: 0;
}
.blog .col-md-6 .pic {
  height: 340px;
}
.blog .col-md-6 .col-in {
  height: 520px;
}
.blog .pic {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.blog img {
  display: block;
  width: 100%;
  height: 100%;
}
.blog .col-in {
  position: relative;
  background: #fff;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog .text {
  padding: 30px;
  box-sizing: border-box;
}
.blog h1 {
  color: #1c1e23;
  font: 400 18px "ProximaSemiBold";
  margin: 0;
  padding-bottom: 20px;
}
.blog p {
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 20px;
  margin: 0;
}
.blog span {
  color: #62bf43;
  font: 400 14px "ProximaNovaRegular";
}
.blog .share {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 24px;
  height: 26px;
  background: url(../img/png/icons.png) 0 -474px no-repeat;
}
.blog .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.blog h6 {
  text-align: center;
}
.blog h6 a {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 40px;
  border-radius: 3px;
  background: #c4cbcf;
}
/*______email______*/
.email {
  padding: 50px 0;
  background: url(../img/jpg/bg_email.jpg) 0 0 repeat;
}
.email h3 {
  color: #fff;
  font: 700 18px "ProximaBold";
  padding: 0;
  margin: 0;
}
.email input {
  display: block;
  float: left;
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-right: 22px;
  border-radius: 50px;
  background: #6a7274;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
}
.email button {
  border-radius: 50px;
  outline: none;
  border: none;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  display: block;
  padding: 10px 20px;
  float: right;
  background: #ecc011;
  transition: all 0.2s ease-in-out;
}
.email button:hover {
  background: #dfb50d;
}
/*______state______*/
.state {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.state h3 {
  text-transform: uppercase;
  color: #50575e;
  font: 700 18px "ProximaBold";
  margin: 0;
  padding-bottom: 30px;
}
.state .col-in {
  margin: 0 auto;
  width: 570px;
  height: auto;
  background: #fff;
  border: 2px dotted #e8e8e8;
  padding: 30px 50px;
  box-sizing: border-box;
}
.state h4 {
  margin: 0;
  padding-bottom: 10px;
  color: #b8bfd3;
  font: 700 16px "ProximaSemiBold";
}
.state p {
  padding: 0 0 10px 0;
  margin: 0;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
}
/*___________MEDIAS___________*/
@media (max-width: 992px) {
  .blog .col-md-6 .pic,
  .blog .col-md-6 .col-in,
  .blog .col-in,
  .blog img,
  .blog .pic {
    height: auto;
  }
  .email {
    margin-bottom: 30px;
  }
  .email h3,
  .state h3 {
    padding-bottom: 20px;
  }
  .blog .text {
    padding: 15px 20px;
  }
  .email input,
  .email button {
    width: 100%;
    margin-bottom: 10px;
    float: none;
    display: block;
    border-radius: 5px;
  }
  .state .col-in {
    width: 95%;
    padding: 20px 30px;
  }
}
