html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
/*___________MIXINS___________*/
/*.h2(){
	.fontC(@black, 400, 16px, @g_m);
	margin: 0;
	padding-bottom: 10px;
}*/
/*___________MIXINS___________*/
.review {
  padding: 60px 0 80px;
}
.review .row {
  background: #fff;
  margin: 0;
  padding: 50px 25px;
  box-sizing: border-box;
  border-radius: 3px;
}
.review .col-md-6 {
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
}
.review .col-md-6:nth-child(odd) {
  border-right: 2px dotted #e8e8e8;
}
.review .col-in {
  border: 1px solid #e4e7e9;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.review .pic {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.review img {
  display: block;
  width: 100%;
  height: 100%;
}
.review .text {
  width: 70%;
  float: right;
  max-height: 150px;
}
.review h2 {
  color: #50575e;
  font: 700 22px "ProximaBold";
  margin: 0;
  padding-bottom: 25px;
}
.review h4 {
  color: #555555;
  font: 400 18px "ProximaSemiBold";
  padding-bottom: 10px;
  margin: 0;
}
.review p {
  color: #8c8c8c;
  font: 400 14px "ProximaNovaRegular";
  line-height: 24px;
}
.review form {
  width: 100%;
  height: auto;
}
.review .form {
  height: auto;
}
.review input,
.review textarea {
  display: block;
  resize: none;
  width: 100%;
  height: auto;
  color: #555555;
  font: 400 14px "ProximaNovaRegular";
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #e4e7e9;
  border-radius: 3px;
}
.review textarea {
  height: 200px;
}
.review button {
  display: inline-block;
  float: left;
  padding: 15px 35px;
  border-radius: 2px;
  color: #fff;
  font: 700 14px "ProximaBold";
  border: none;
  border-radius: 3px;
  outline: none;
  background: #50575e;
  transition: all 0.2s ease-in-out;
}
.review button:hover {
  background: #42484f;
}
/*------------MEDIAS------------*/
@media (max-width: 992px) {
  .review .col-md-6:nth-child(odd) {
    border-right: none;
  }
  .review .col-md-6 {
    height: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .review .pic {
    float: none;
    margin: 0 auto 20px;
  }
  .review .text {
    width: 100%;
    float: none;
    text-align: center;
  }
  .review .col-in {
    border: none;
    padding: 0;
  }
  .review .row {
    padding: 40px 0;
  }
}
