.popup-cal, .popup-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 18, 18, 0.16);
    z-index: 10;
    padding-top: 15%;
    display: none;
}
.popup-form{
    z-index: 12;
}
.popup-c-in, .popup-form form{
    padding: 20px;
    border-radius: 4px;
    background: #aab9c3;
    margin: 0 auto;
    box-sizing: border-box;
    width: 250px;
}
.popup-c-in a, .popup-c-in b{
    display: block;
    padding: 20px 0;
    width: 100%;
    background: #fff;
    text-align: center;
    color: #a1b1bc;
    border-radius: 4px;
    margin-bottom: 20px;
    font: 700 14px "Verdana";
}
.popup-c-in a:hover{
    text-decoration: none!important;
}

.popup-c-in b{
    background: #4bbc8c;
    color: #fff;
}
.popup-c-in b:before{
    display: inline-block;
    content: "+";
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.date-parent{
    position: relative;
}

/*popup-form____OPEN___*/
.popup-form form{
    width: 350px;
}
.popup-form input, .popup-form textarea{
    display: block;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #fff;
    width: 100%;
    height: 48px;
    font: 400 14px "verdana";
    color: #394a5b;
    padding-left: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.popup-form textarea{
    height: 110px;
    resize: none;
    padding-top: 10px;
}

.popup-form .checkbox{
    display: none;
}
.popup-form button{
    width: 100%;
    padding: 20px 0;
    color: #fff;
    background: #74a5c6;
    font: 700 14px "verdana";
    text-align: center;
    display: block;
    outline: none;
    border: none;
    border-radius: 3px;
}
.popup-form .error, .popup-form .success{
    color: red;
    font: 400 12px "verdana";
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
.popup-form .success{
    color: blue;
}

.popup-form .checkbox + label{
    padding-left: 30px;
    padding-bottom: 10px;
    display: block;
    position: relative;
    font: 400 14px "verdana";
    color: #fff;
}

.popup-form .checkbox + label:before{
    width: 18px;
    height: 18px;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/icons/icons.png) 0 -59px no-repeat;
}

.popup-form .checkbox:checked + label:before{
    background: url(/img/icons/icons.png) 0 -86px no-repeat;
}


/*cal-sidebar*/
.cal-sidebar{
    background: #a1b1bc;
    padding-top: 40px;
}
.cal-sidebar a{
    display: block;
    padding: 20px;
    margin: 0 auto;
    font:700 16px "verdana";
    text-align: center;
    background: #fff;
    margin-bottom: 40px;
    color: #2c3e50;
    box-shadow: 0 0 3px 0 #ddd;
    border-radius: 4px;
    position: relative;
    border: none;
}
.cal-sidebar a:hover{
    text-decoration: none!important;
}
.cal-sidebar i{
    display: block;
    position: absolute;
    top: 20px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    background: #ebd474;
    padding-top: 3px;
    box-sizing: border-box;
    font:400 12px "verdana";
}
.cal-sidebar a.active{
    background: #f6cb00;
}
.calendar-wrapper .page-header{
    margin: 0;
    border-bottom: none;
    overflow: hidden;
    background: #d3d3d3;
    padding: 10px 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.calendar-wrapper{
    padding-bottom: 80px;
}
.calendar-wrapper .page-header h3{
    margin: 0;
    float: left;
    padding-top: 10px;
    margin-right: 20px;
}

.calendar-wrapper .pull-right{
    float: left!important;
}
.result{
    float: left;
    padding-left: 30px;
}
.order, .fixed{
    float: left;
    display: block;
    font: 400 10px "Verdana";
    position: relative;
    color: #333;
    padding: 10px 5px;
}
.order:before, .fixed:before{
    display: inline-block;
    width: 16px;
    vertical-align: middle;
    height: 16px;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    background: #ebd474;
    content: "";
}
.fixed:before{
    background: #4bbc8c;
}

















