html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}
/*------------MIXINS--------*/
/*prod*/
/*__________________________*/
/*------------MIXINS--------*/
header {
  border-bottom: 1px solid #d7dadb;
  background: #fff;
  padding-bottom: 15px!important;
  /*float_right;*/
  /*CHECKBOX*/
  /*CHECKBOX_END*/
}
header .container {
  position: relative;
}
header .container:after {
  height: 0;
  display: block;
  font-size: 0;
  position: relative;
  width: 100%;
  clear: both;
  content: ".";
}
header .menu-open {
  float: left;
  position: relative;
  box-sizing: border-box;
  margin-right: 40px;
  padding: 40px;
  display: block;
  border-right: 1px solid #f0f2f7;
}
header .menu-open:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 14px;
  background: url(../img/png/icons.png) 0 0 no-repeat;
}
header .hit,
header .news {
  padding: 25px 0;
  box-sizing: border-box;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  margin-right: 40px;
  float: left;
}
header .news {
  margin-right: 35px;
}
header .droid {
  display: block;
  float: left;
  padding-top: 12px;
  opacity: .8;
}
header .droid img {
  display: block;
  width: 181px;
  height: 48px;
}
header .afm {
  float: right;
  opacity: .8;
  padding-top: 12px;
  margin-right: 80px;
}
header .afm img {
  display: block;
  width: 157px;
  height: 53px;
}
header .active_page {
  opacity: 1;
}
header .search,
header .busket,
header .like,
header .user {
  display: block;
  position: relative;
  float: right;
  margin-top: 20px;
}
header .search i,
header .busket i,
header .like i,
header .user i {
  position: absolute;
  background: #62bf43;
  display: block;
  top: 0;
  right: -25px;
  width: 23px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  font: 400 12px "ProximaNovaRegular";
  text-align: center;
}
header .search i:after,
header .busket i:after,
header .like i:after,
header .user i:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 5px;
  height: 8px;
  background: url(../img/png/icons.png) 0 -187px no-repeat;
}
header .user {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -145px no-repeat;
  padding-right: 25px;
}
header .user:after {
  width: 9px;
  height: 7px;
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  right: -10px;
  top: 6px;
  background: url(../img/png/icons.png) -2px -173px no-repeat;
}
header .like {
  width: 21px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -118px no-repeat;
  margin-right: 43px;
}
header .busket {
  width: 21px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -91px no-repeat;
  margin-right: 43px;
}
header .search {
  cursor: pointer;
  width: 21px;
  height: 18px;
  margin-right: 30px;
  background: url(../img/png/icons.png) 0 -61px no-repeat;
}
header .check_menu {
  display: none;
}
header .check_menu + label {
  display: block;
  width: 60px;
  height: 20px;
  background: #eaeaea;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  left: 50%;
  cursor: pointer;
  overflow: hidden;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}
header .check_menu + label:before {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  width: 35px;
  height: 20px;
  border-radius: 50px;
  background: #9a2525;
  float: left;
  transition: all 0.3s ease-in-out;
}
header .check_menu:checked + label:before {
  float: right;
  background: #62bf43;
}
header .search-form {
  position: absolute;
  bottom: -55px;
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 40px;
  background: #ddd;
  border-bottom: 1px  solid #ddd;
  display: none;
}
header .search-form button {
  width: 20%;
  display: block;
  outline: none;
  border: none;
  height: 100%;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  background: #62bf43;
  float: right;
}
header .search-form input {
  display: block;
  float: left;
  width: 70%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 10px 20px;
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
  box-sizing: border-box;
}
/*------------content-----------*/
.content {
  margin-bottom: 70px;
}
.content .header {
  padding: 70px 0 20px;
}
.content .header:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.content ul {
  margin: 0;
  padding: 0;
}
.content h3,
.content h4 {
  float: left;
  margin: 0;
  color: #596067;
  font: 700 22px "ProximaBold";
  margin-right: 40px;
}
.content h4 {
  color: #596067;
  font: 100 22px "ProximaThin";
}
.content .compare {
  float: right;
  position: relative;
  display: block;
  padding-right: 30px;
  color: #596067;
  font: 400 14px "ProximaNovaRegular";
}
.content .compare i {
  position: absolute;
  background: #62bf43;
  display: block;
  top: 0;
  right: -25px;
  width: 23px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  font: 400 12px "ProximaNovaRegular";
  text-align: center;
  right: 0;
}
.content .compare i:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 5px;
  height: 8px;
  background: url(../img/png/icons.png) 0 -187px no-repeat;
}
.content .active ul {
  display: block;
}
.content .active h6:after {
  transform: rotate(0);
}
.sidebar .category {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.sidebar .category h6 {
  margin: 0;
  color: #1c1e23;
  font: 700 16px "ProximaBold";
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f0f2f7;
  position: relative;
}
.sidebar .category h6:after {
  display: block;
  content: "";
  transform: rotate(-90deg);
  width: 11px;
  height: 6px;
  transition: all 0.3s ease-in-out;
  background: url(../img/png/icons.png) 0 -199px no-repeat;
  position: absolute;
  top: 25px;
  right: 20px;
}
.sidebar .cat-in {
  background: #f9fafb;
  display: none;
}
.sidebar .cat-in a {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #dfe4ee;
  background-image: none;
  color: #a1a8bd;
  font: 700 11px "ProximaBold";
}
.product {
  /*bigone*/
  /*share*/
}
.product .else {
  width: 150px;
  height: auto;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  display: block;
  background: #c4cbcf;
  clear: both;
  border-radius: 3px;
  color: #fff;
  font: 700 14px "ProximaBold";
  transition: all 0.3s ease-in-out;
}
.product .else:hover {
  text-decoration: none;
  background: #50575e;
}
.product .pic {
  height: 260px;
}
.product .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.product .col-in {
  position: relative;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  height: 465px;
  overflow: hidden;
  margin-bottom: 40px;
}
.product .col-in:hover {
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.37);
  border: 1px solid #d5d5d5;
}
.product .text {
  padding: 30px 15px 35px;
  overflow: hidden;
  background: #fff;
}
.product .col-md-8 .text {
  padding-top: 40px;
}
.product .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product h2 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
.product h3 {
  display: block;
  text-align: center;
  color: #62bf43;
  font: 400 12px 'verdana';
  text-transform: uppercase;
  padding-bottom: 15px;
  float: none;
  margin: 0;
}
.product .havent {
  color: #9a2525;
}
.product .price {
  color: #343e5c;
  font: 700 14px 'verdana';
  display: block;
  float: none;
  text-align: center;
  padding-bottom: 15px;
}
.product .more {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 30px;
  border-radius: 3px;
  background: #9a2525;
  transition: all 0.2s ease-in-out;
}
.product .col-md-8 {
  background: transparent;
}
.product .col-md-8 .col-in {
  padding: 0;
}
.product .col-md-8 .pic {
  height: 330px;
  padding: 0;
  position: relative;
}
.product .col-md-8 h2,
.product .col-md-8 h3 {
  text-align: left;
  display: block;
}
.product .col-md-8 .more {
  background: #50575e;
}
.product .col-md-8 .price {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #9a2525;
  color: #fff;
  font: 400 14px 'verdana';
  padding: 9px 17px;
  border-radius: 3px;
}
.product .left {
  width: 65%;
  float: left;
}
.product .right {
  width: 30%;
  float: right;
}
.product .share {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  overflow: hidden;
}
.product .share a {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 20px;
  display: block;
}
.product .share .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.product .share .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.product .share .sign {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.product .share .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.product .stock,
.product .descont {
  position: absolute;
  top: 13px;
  left: -42px;
  width: 150px;
  padding: 10px 0;
  background: #dd3b56;
  color: #fff;
  font: 400 12px 'verdana';
  transform: rotate(-45deg);
}
.product .descont {
  background: #f5c125;
}
/*----------SLIDER-popular------------*/
.slide-popular {
  /*slide_nav*/
}
.slide-popular .item {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  background: #fff;
}
.slide-popular .pic {
  height: 260px;
}
.slide-popular .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.slide-popular h2 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
.slide-popular h3 {
  display: block;
  text-align: center;
  color: #62bf43;
  font: 400 12px 'verdana';
  text-transform: uppercase;
  padding-bottom: 15px;
  float: none;
  margin: 0;
}
.slide-popular .stock,
.slide-popular .descont {
  position: absolute;
  top: 13px;
  left: -42px;
  width: 150px;
  padding: 10px 0;
  background: #dd3b56;
  color: #fff;
  font: 400 12px 'verdana';
  transform: rotate(-45deg);
}
.slide-popular .descont {
  background: #f5c125;
}
.slide-popular .price {
  overflow: hidden;
  display: block;
  padding-left: 30%;
  padding-bottom: 20px;
}
.slide-popular .price i {
  display: block;
  float: left;
  margin-right: 15px;
  text-align: left;
  color: #1c1e23;
  font: 700 12px "ProximaBold";
}
.slide-popular .price i:first-child {
  color: #b8bfd3;
}
.slide-popular .button {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 30px;
  border-radius: 3px;
  background: #9a2525;
  transition: all 0.2s ease-in-out;
}
.slide-popular .share {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  overflow: hidden;
}
.slide-popular .share a {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 20px;
  display: block;
}
.slide-popular .share .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.slide-popular .share .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.slide-popular .share .sign {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.slide-popular .share .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.slide-popular .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.slide-popular .owl-nav {
  position: absolute;
  top: -30px;
  overflow: hidden;
  right: 0;
}
.slide-popular .owl-nav .owl-next,
.slide-popular .owl-nav .owl-prev {
  display: inline-block;
  float: left;
  font-size: 0;
  width: 10px;
  height: 20px;
  background: url(../img/png/icons.png) -36px -321px no-repeat;
}
.slide-popular .owl-nav .owl-prev {
  margin-right: 20px;
  background: url(../img/png/icons.png) 0 -321px no-repeat;
}
.p-title {
  color: #596067;
  font: 700 22px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
/*----------news------------*/
.news-section {
  padding-top: 60px;
}
.news-section .title {
  color: #596067;
  font: 700 22px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.news-section .pic {
  width: 100%;
  height: 250px;
}
.news-section .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.news-section .text {
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}
.news-section h2 {
  color: #1c1e23;
  font: 700 18px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.news-section p {
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 20px;
}
.news-section span {
  display: block;
  color: #9a2525;
  font: 400 14px "ProximaNovaRegular";
}
.news-section .col-md-4 {
  position: relative;
}
.news-section .col-md-4:hover > .text {
  border-bottom: 2px solid #9a2525;
}
.news-section .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/*----------action------------*/
.action {
  padding-top: 60px;
}
.action .title {
  color: #596067;
  font: 700 22px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.action .row {
  background: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 40px 20px;
}
.action .col-md-6 {
  margin-bottom: 40px;
}
.action .col-in {
  box-sizing: border-box;
  padding: 0 10%;
}
.action a {
  display: block;
  color: #b8bfd3;
  font: 700 16px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.action a:hover {
  color: #596067;
  text-decoration: none;
}
.action p {
  margin: 0;
  padding: 0;
  color: #596067;
  font: 400 14px "ProximaNovaRegular";
  line-height: 20px;
}
footer {
  margin-top: 100px!important;
  padding: 30px 0!important;
  display: block;
  background: #202326;
}
footer a {
  display: block;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 10px;
  margin: 0;
}
footer a.logo-footer {
  display: block;
  padding-bottom: 30px;
}
footer h3 {
  padding-bottom: 10px;
  color: #a3a9ad;
  font: 700 14px "ProximaBold";
}
footer .f,
footer .i,
footer .g,
footer .t {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background: url(../img/png/icons.png) 0 -353px no-repeat;
}
footer .i {
  background: url(../img/png/icons.png) -150px -353px no-repeat;
}
footer .g {
  background: url(../img/png/icons.png) -100px -353px no-repeat;
}
footer .t {
  background: url(../img/png/icons.png) -50px -353px no-repeat;
}
footer form {
  position: relative;
  width: 280px;
  height: 30px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 50px;
}
footer form input {
  width: 59%;
  background: #3c4247;
  display: block;
  height: 100%;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  border: none;
  outline: none;
  padding: 0 20px;
  box-sizing: border-box;
}
footer form button {
  display: block;
  width: 130px;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font: 400 14px "ProximaNovaRegular";
  background: #62bf43;
  border: none;
  outline: none;
  padding: 5px 20px;
}
footer form button:hover {
  background: #5ab13c;
}
/*----------banner------------*/
.banner {
  margin: 50px auto 80px;
  position: relative;
  /*slide*/
  /*call*/
}
.banner img {
  display: block;
  width: 100%;
  height: auto;
}
.banner .item {
  display: block;
}
.banner .owl-dots {
  overflow: hidden;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -100px;
  z-index: 9999;
  width: 200px;
}
.banner .owl-dot {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid #808080;
  background: transparent;
  border-radius: 50%;
  float: left;
  margin: 0 3px;
}
.banner .active {
  border: 2px solid #fff;
  background: #fff;
}
.banner .owl-prev,
.banner .owl-next {
  position: absolute;
  top: 40%;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  font-size: 0;
  width: 51px;
  height: 51px;
  opacity: 0.7;
  background: url(../img/png/icons.png) 0 -410px no-repeat;
}
.banner .owl-prev:hover,
.banner .owl-next:hover {
  opacity: 1;
}
.banner .owl-prev {
  left: 5%;
}
.banner .owl-next {
  transform: rotate(180deg);
  right: 5%;
}
.banner .call {
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 99999;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 20px 40px;
}
.banner .call span,
.banner .call i {
  display: block;
  color: #596067;
  font: 400 18px "ProximaNovaRegular";
}
.banner .call i {
  color: #596067;
  font: 700 18px "ProximaBold";
}
.banner .call .call-popup {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 3px;
  background: #62bf43;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #fff;
}
.banner .call .call-popup:hover {
  background: #5bb53e;
}
/*===============MEDIAS===============*/
@media (max-width: 1200px) {
  body .hit,
  body .news {
    display: none;
  }
  body .check_menu + label {
    position: static;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
  }
  body header .afm {
    float: left;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
  }
  body header .menu-open {
    margin-right: 0;
  }
  body .banner img {
    min-height: 250px;
  }
  /*body*/
}
@media (max-width: 768px) {
  body .container {
    padding: 0 15px;
  }
  .banner .call {
    display: none;
  }
  .content .header {
    padding: 20px 0;
  }
  .content h3,
  .content h4 {
    float: none;
    margin-right: 0;
  }
  body .banner,
  .slide-popular {
    margin-bottom: 30px;
  }
  .product .col-md-8 .pic,
  .product .col-in,
  .product .pic img,
  .product .pic,
  .news-section .pic,
  .news-section .pic img {
    height: auto;
  }
  .news-section .col-md-4 {
    margin-bottom: 20px;
  }
  .product .left,
  .product .right {
    width: 100%;
    float: none;
  }
  .product .col-md-8 h2,
  .product .col-md-8 h3 {
    text-align: center;
  }
  .product .col-md-8 .text {
    padding-top: 20px;
  }
  .slide-popular .owl-nav {
    left: 0;
  }
  .p-title {
    padding-bottom: 40px;
  }
  .action .row {
    padding: 20px 15px;
  }
  .action .col-in {
    padding: 0;
  }
  /*navigation*/
  header {
    padding-bottom: 0!important;
  }
  header .afm img,
  header .droid img {
    width: 90px;
  }
  header .afm,
  header .droid {
    padding-top: 0;
  }
  body header .afm {
    float: right;
  }
  body .check_menu + label {
    margin-top: 17px;
    width: 40px;
    margin-left: 25px;
    height: 20px;
  }
  body .check_menu + label:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  header .busket,
  header .like,
  header .search,
  header .user {
    margin-top: 0;
  }
  .right-nav {
    clear: both;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -42px;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #fff;
    height: 40px;
  }
  header .search {
    float: left;
  }
  header .search-form {
    bottom: -42px;
  }
  header .active-nav {
    font-weight: 700;
    border-bottom: 1px solid #62bf43 !important;
    color: #62bf43 !important;
  }
  .mp {
    float: left;
    display: block;
    width: 22px;
    height: 16px;
    margin-right: 15px;
    background: url(../img/png/icons.png) 0 0 no-repeat;
  }
  .navigate {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.85);
  }
  body .hit,
  body .news {
    float: none;
    display: block;
    border-bottom: 1px solid #eee;
    margin: 0!important;
    color: #fff;
    padding: 10px 0;
  }
}
