html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
