html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
.baster-page {
  padding: 50px 0 80px;
}
.baster-page h4 {
  color: #50575e;
  font: 700 22px "ProximaBold";
  padding-bottom: 20px;
  margin: 0;
}
.baster-page .count {
  background: #fff;
  padding: 30px 60px;
}
.baster-page ul {
  padding: 20px 0;
  border-bottom: 1px solid #f7f7f7;
  overflow: hidden;
}
.baster-page li,
.baster-page h5 {
  float: left;
  overflow: hidden;
  width: 25%;
}
.baster-page .header {
  border-bottom: 1px solid #efefef;
}
.baster-page .header li {
  color: #1c1e23;
  font: 400 18px "ProximaNovaRegular";
}
.baster-page h3 {
  color: #797b82;
  font: 400 18px 'verdana';
  margin: 0;
}
.baster-page i {
  margin: 0;
  display: block;
  float: left;
  color: #62bf43;
  font: 400 18px "ProximaNovaRegular";
}
.baster-page span,
.baster-page input {
  display: block;
  outline: none;
  border: 1px solid #e3e6e9;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  float: left;
  background: #fff;
  border-radius: 3px;
  color: #b8c6d0;
  font: 700 16px "ProximaBold";
  padding-top: 5px;
}
.baster-page input {
  width: 50px;
  color: #686e71;
  font: 400 16px "ProximaNovaRegular";
}
.baster-page .delete {
  width: 20px;
  height: 20px;
  color: #a1a7ab;
  font: 400 10px "ProximaNovaRegular";
  text-align: center;
  display: block;
  background: #d3d8dc;
  padding: 2px 0 0;
  float: right;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.baster-page h5 {
  float: right;
  width: auto;
  margin: 0;
  margin-top: -5px;
  font-size: 22px;
}
.baster-page h5 i {
  float: none;
  display: inline-block;
  color: #62bf43;
  font: 700 22px "ProximaBold";
}
.baster-page .footer {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.baster-page .check {
  display: none;
}
.baster-page .check + label {
  display: block;
  float: left;
  color: #1c1e23;
  font: 700 15px "ProximaBold";
  position: relative;
  padding-right: 15px;
}
.baster-page .check + label:after {
  display: block;
  content: "";
  margin-right: 30px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background: url(../img/png/icons.png) -27px -658px no-repeat;
}
.baster-page .check:checked + label:after {
  background: url(../img/png/icons.png) 0 -658px no-repeat;
}
.baster-page .form {
  margin: 0 auto;
  width: 670px;
  overflow: hidden;
  padding-bottom: 10px;
}
.baster-page .form input {
  float: left;
  width: 230px;
  border: 1px solid #e8e8e8;
  padding: 10px 20px;
  margin-right: 30px;
  height: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: left;
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
}
.baster-page button {
  padding: 10px 40px;
  background: #62bf43;
  display: inline-block;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 40px;
  float: left;
  color: #fff;
  font: 700 16px "ProximaBold";
}
/*___________MEDIAS___________*/
@media (max-width: 768px) {
  .baster-page li,
  .baster-page h5 {
    width: 100%;
    float: none;
    display: block;
  }
  .baster-page ul {
    margin: 0;
  }
  .baster-page h3,
  .baster-page i {
    padding: 7px 0;
  }
  .baster-page .form,
  .baster-page .form input,
  .baster-page .form button {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  .baster-page .count {
    padding: 30px 20px;
  }
  .baster-page .count {
    margin-bottom: 20px;
  }
}
