html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
ul,
ol {
  padding: 0;
  left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
body {
  font: 400 14px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  width: 100%;
  clear: both;
}
html {
  overflow-x: hidden;
}
/*****************GLOBAL*****************/
body {
  position: relative;
  background-color: transparent!important;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../fonts/ProximaNovaRegular.otf');
}
@font-face {
  font-family: "ProximaThin";
  src: url('../fonts/ProximaThin.otf');
}
@font-face {
  font-family: "ProximaBold";
  src: url('../fonts/ProximaBold.otf');
}
@font-face {
  font-family: "ProximaSemiBold";
  src: url('../fonts/ProximaSemiBold.otf');
}
/*****************fonts*****************/
/*star(){
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    .wh(34px, 30px);
    background: url(../img/icons/icons.png) -611px 0 no-repeat;
}
.star-active(){
    background: url(../img/icons/icons.png) -653px 0 no-repeat;
}*/
/*slider**CONTROLLER*/
/*.owl-dots{
    margin: 50px auto 0;
    width: 150px;
    .active{
        background: @color;
        height: 2px;
    }
}
.owl-dot{
    float: left;
    width: 27px;
    height: 2px;
    margin:4px 7px;
    background: #e7e7e7;
}
*/
/*------------MIXINS--------*/
/*prod*/
/*__________________________*/
.breadcrums {
  padding-top: 30px;
  padding-bottom: 30px;
}
.breadcrums:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.breadcrums .left {
  overflow: hidden;
  display: inline-block;
}
.breadcrums .left a {
  float: left;
  color: #9b9b9b;
  font: 400 14p "ProximaNovaRegular";
  padding-right: 10px;
  display: block;
}
.breadcrums .left .active {
  color: #62bf43;
}
.breadcrums .compare {
  float: right;
  position: relative;
  display: block;
  padding-right: 30px;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
}
.breadcrums .compare i {
  position: absolute;
  background: #62bf43;
  display: block;
  top: 0;
  right: -25px;
  width: 23px;
  height: 19px;
  border-radius: 2px;
  color: #fff;
  font: 400 12px "ProximaNovaRegular";
  text-align: center;
  right: 0;
}
.breadcrums .compare i:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 5px;
  height: 8px;
  background: url(../img/png/icons.png) 0 -187px no-repeat;
}
.breadcrums .compare span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 17px;
  height: 17px;
  background: url(../img/png/icons.png) 0 -266px no-repeat;
}
/*_________SLIDER___tumb____________*/
.col-lg-8:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.col-lg-4 {
  margin-top: 80px;
}
.tumb {
  width: 90px;
  position: relative;
  overflow: hidden;
  float: left;
  height: 480px;
  padding: 25px 0;
  box-sizing: border-box;
}
.tumb .item {
  display: block;
  border: 1px solid transparent;
  width: 100%;
  height: 110px;
  cursor: pointer;
  margin: 5px 0;
}
.tumb .item-parent {
  transition: all 0.3s ease-in-out;
}
.tumb .active {
  border: 1px solid #62bf43;
}
.tumb img {
  display: block;
  width: 100%;
  height: 100%;
}
.tumb .bottom,
.tumb .top {
  position: absolute;
  background: #f6f8f9;
  left: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.tumb .bottom:after,
.tumb .top:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 6px;
  background: url(../img/png/icons.png) 0 -502px no-repeat;
}
.tumb .bottom {
  bottom: 0;
  border-radius: 0 0 2px 2px;
}
.tumb .top {
  border-radius: 2px 2px 0 0;
  top: 0;
}
.tumb .top:after {
  transform: rotate(180deg);
}
/*large*/
.large {
  float: right;
  box-sizing: border-box;
  border: 1px solid #e3e6e9;
  position: relative;
  width: 670px;
}
.large img {
  display: block;
  width: 100%;
  height: 480px;
}
.large .item {
  display: none;
}
.large .active {
  display: block;
}
.large .links {
  position: absolute;
  top: 3%;
  right: 3%;
  overflow: hidden;
}
.large .like,
.large .sign,
.large .share {
  width: 24px;
  height: 20px;
  display: block;
  margin-bottom: 10px;
}
.large .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.large .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.large .sign {
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.large .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.large .share {
  height: 24px;
  width: 26px;
  background: url(../img/png/icons.png) 0 -512px no-repeat;
}
.large .discount {
  position: absolute;
  top: 3%;
  width: 55px;
  height: 55px;
  padding-top: 17px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #f52551;
  text-align: center;
  color: #fff;
  font: 700 17px "ProximaBold";
  left: 3%;
}
/*forms*/
form h2 {
  color: #1c1e23;
  font: 400 24px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
form .price {
  overflow: hidden;
  border-bottom: 1px solid #e3e6e9;
  padding-bottom: 10px;
}
form .price b {
  color: #a1b1bc;
  font: 400 24px "ProximaThin";
  display: inline-block;
  margin-right: 15px;
  float: left;
  position: relative;
}
form .price b:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 40%;
  left: 0;
  background: #a1b1bc;
}
form .price .bold {
  color: #62bf43;
  font: 700 24px "ProximaBold";
}
form .price .bold:after {
  display: none;
}
form h4 {
  color: #1c1e23;
  font: 700 14px "ProximaBold";
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
}
form h4 b {
  display: inline-block;
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
}
form .reit {
  color: #1c1e23;
  font: 400 14px "ProximaNovaRegular";
  display: inline-block;
  position: relative;
}
form .reit b {
  width: 70px;
  height: 24px;
  background: #fff;
  border: 1px solid #dfe3e4;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #f7cb1d;
  font: 700 14px "ProximaBold";
}
form .reit b:after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../img/png/icons.png) 0 -567px no-repeat;
}
form .have {
  display: block;
  color: #62bf43;
  font: 400 14px "ProximaNovaRegular";
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e6e9;
  margin-bottom: 10px;
}
form .color {
  overflow: hidden;
}
form .color-tag {
  display: none;
}
form .color-tag + label {
  display: block;
  width: 15px;
  height: 18px;
  float: left;
  border-radius: 2px;
  margin-right: 10px;
  border: 2px solid transparent;
}
form .color-tag:checked + label {
  border: 2px solid #1c1e23;
}
form .count {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e3e6e9;
}
form .count span,
form .count input {
  float: left;
  display: block;
  margin-right: 10px;
}
form .count span,
form .count input {
  width: 30px;
  height: 30px;
  border: 1px solid #e3e6e9;
  background: #fff;
  text-align: center;
  border-radius: 1px;
  box-sizing: border-box;
  cursor: pointer;
  color: #b8c6d0;
  font: 700 20px "ProximaBold";
  padding-top: 2px;
}
form .count input {
  text-align: left;
  width: 70px;
  padding-left: 10px;
  outline: none;
  padding-right: 20px;
  color: #616c78;
  font: 700 14px "ProximaNovaRegular";
  background: #fff url(../img/png/icons.png) 0 -585px no-repeat;
}
form .button {
  display: inline-block;
  padding: 20px 40px 20px 50px;
  background: #62bf43;
  outline: none;
  border: none;
  color: #fff;
  font: 700 18px "ProximaBold";
  position: relative;
  margin: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
form .button:hover {
  background: #5bb53e;
}
form .button:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 5px;
  background: url(../img/png/icons.png) 0 -625px no-repeat;
}
/*------------tabs------------*/
.tabs {
  padding-top: 50px;
  padding-bottom: 80px;
}
.tabs .header {
  background: #fff;
  border: 1px solid #d6dde5;
  border-left: none;
  border-bottom: none;
}
.tabs .header:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.tabs .header span {
  float: left;
  color: #a1b1bc;
  font: 400 16px 'verdana';
  display: block;
  padding: 15px 36px;
  border: 1px solid #d6dde5;
  border-left: none;
  border-bottom: none;
  border-top: none;
  background: #fff;
  cursor: pointer;
}
.tabs .header span:first-child {
  border-radius: 3px 0 0 0;
  border-left: 1px solid #d6dde5;
}
.tabs .header .active {
  color: #3a3e4a;
  font: 700 16px 'verdana';
}
.tabs .banner {
  display: block;
  width: 240px;
  height: 400px;
  margin: 0;
}
.tabs .banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.tabs .text {
  padding: 40px;
  box-sizing: border-box;
}
.content-tab {
  background: #fff;
  border: 1px solid #eee;
}
.content-tab .col-md-9 .row {
  margin: 0;
}
.content-tab h3 {
  color: #2c3e50;
  font: 400 24px "ProximaSemiBold";
  margin: 0;
  padding-bottom: 10px;
}
.content-tab p {
  color: #717d85;
  font: 400 14px "ProximaNovaRegular";
  margin: 0;
  line-height: 24px;
  padding-bottom: 10px;
}
.content-tab li {
  position: relative;
  padding-bottom: 10px;
}
.content-tab li:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 6px;
  left: -20px;
  background: #62bf43;
}
.content-tab li:after {
  content: ".";
  clear: both;
  font-size: 0;
  width: 100%;
  height: 0;
  display: block;
}
.content-tab li span,
.content-tab li i {
  display: block;
  color: #7d7f85;
  font: 700 14px "ProximaBold";
}
.content-tab li span {
  float: left;
}
.content-tab li i {
  float: right;
}
.content-tab .more {
  display: block;
  text-align: right;
  text-decoration: underline;
  color: #62bf43;
  font: 400 15px "ProximaNovaRegular";
}
/*------------single-access------------*/
.single-access {
  background: url(../img/jpg/bg_post_single.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  /*cols___________OPEN______*/
  /*share*/
  /*PICS*/
}
.single-access .head h3 {
  color: #fff;
  font: 700 24px "ProximaBold";
  padding-bottom: 10px;
  margin: 0;
}
.single-access .head p {
  color: #3d6032;
  font: 400 14px "ProximaNovaRegular";
  padding-bottom: 40px;
  margin: 0;
}
.single-access .pic {
  height: 260px;
}
.single-access .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.single-access .col-in {
  position: relative;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  height: 465px;
  overflow: hidden;
  margin-bottom: 40px;
}
.single-access .col-in:hover {
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.37);
  border: 1px solid #d5d5d5;
}
.single-access .text {
  padding: 30px 15px 35px;
  overflow: hidden;
  background: #fff;
}
.single-access .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.single-access h2 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
.single-access h3 {
  display: block;
  text-align: center;
  color: #62bf43;
  font: 400 12px 'verdana';
  text-transform: uppercase;
  padding-bottom: 15px;
  float: none;
  margin: 0;
}
.single-access .havent {
  color: #9a2525;
}
.single-access .price {
  color: #343e5c;
  font: 700 14px 'verdana';
  display: block;
  float: none;
  text-align: center;
  padding-bottom: 15px;
}
.single-access .more {
  display: inline-block;
  color: #fff;
  font: 700 14px "ProximaBold";
  padding: 15px 30px;
  border-radius: 3px;
  background: #62bf43;
  transition: all 0.2s ease-in-out;
}
.single-access .share {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  overflow: hidden;
}
.single-access .share a {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 20px;
  display: block;
}
.single-access .share .like {
  background: url(../img/png/icons.png) 0 -213px no-repeat;
}
.single-access .share .like-active {
  background: url(../img/png/icons.png) 0 -238px no-repeat;
}
.single-access .share .sign {
  width: 18px;
  height: 18px;
  background: url(../img/png/icons.png) 0 -265px no-repeat;
}
.single-access .share .sign-active {
  background: url(../img/png/icons.png) 0 -295px no-repeat;
}
.single-access .stock,
.single-access .descont {
  position: absolute;
  top: 13px;
  left: -42px;
  width: 150px;
  padding: 10px 0;
  background: #dd3b56;
  color: #fff;
  font: 400 12px 'verdana';
  transform: rotate(-45deg);
}
.single-access .descont {
  background: #f5c125;
}
.single-access .row {
  position: relative;
}
.single-access .row:after {
  content: '';
  display: block;
  width: 510px;
  height: 530px;
  position: absolute;
  top: 0;
  left: -15%;
  background: url(../img/png/earphone.png) 0 0 no-repeat;
}
.single-access .earphone {
  padding-top: 20%;
  transition: all 0 ease-in-out;
  cursor: default;
  position: relative;
}
.single-access .earphone:hover {
  box-shadow: none;
  border: 1px solid transparent;
}
.single-access .earphone:after {
  content: '';
  display: block;
  width: 195px;
  height: 260px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -95px;
  background: url(../img/png/earphone2.png) 0 0 no-repeat;
}
.single-access .earphone h6 {
  color: #fff;
  font: 700 18px "ProximaBold";
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}
.single-access .earphone p {
  color: #3d6032;
  font: 400 14px "ProximaNovaRegular";
}
.same {
  padding: 40px 0;
}
.single-text h4 {
  color: #1c1e23;
  font: 400 16px 'verdana';
  margin: 0;
  padding-bottom: 10px;
}
.single-text .text {
  padding: 40px;
  background: #fff;
  border-radius: 5px;
}
.single-text h5 {
  color: #b8bfd3;
  font: 700 16px "ProximaBold";
  margin: 0;
  padding-bottom: 10px;
}
.single-text p {
  margin: 0;
  color: #50575e;
  font: 400 14px "ProximaNovaRegular";
  padding: 0 0 10px 0;
}
/*------------MEDIAS------------*/
@media (max-width: 1200px) {
  .large {
    width: 85%;
  }
  .tumb {
    width: 12%;
  }
}
@media (max-width: 768px) {
  .large .links,
  .large .discount {
    z-index: 10;
  }
  .large {
    width: 100%;
  }
  .large img {
    display: block;
    height: auto;
  }
  .large .item {
    display: block;
  }
  .col-lg-4 {
    margin-top: 30px;
  }
  form .button {
    padding: 15px 30px;
    font-size: 14px;
  }
  form .button:before {
    display: none;
  }
  form .reit {
    display: block;
    margin: 15px 0;
  }
  .tabs {
    margin: 20px 0;
  }
  .tabs .header span {
    float: none;
    border: none;
    border-bottom: 1px solid #eee;
  }
  .tabs .header span:first-child {
    border-left: none;
    border-radius: none;
  }
  .tabs .banner,
  .tabs .banner img {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  .tabs .text {
    padding: 20px 10px;
  }
  .breadcrums {
    margin-bottom: 20px;
  }
}
